$project-opener: 14;
$heading-lg: 12;
$heading-md: 11;
$heading-sm: 9;
$body-lg: 7;
$body-md: 5;
$body-sm: 4;
$caption: 3;
$credits: 2;

$primary-xs: 12;
$primary-sm: $primary-xs;
$primary-md: 10;
$primary-lg: 8;
$primary-xl: 6;

$border-width: 0.0625rem;
$border-radius: 0.125rem;

$ui-mobile: 1;
$ui-desktop: $ui-mobile;