/*------------------------------------------------------------------
 * Core Palette
 *----------------------------------------------------------------*/

//Yellow
$yellow-c70: #443808;
$yellow-c65: #5e4d08;
$yellow-c60: #6b5706;
$yellow-c55: #78670a;
$yellow-c50: #857513;
$yellow-c45: #998712;
$yellow-c40: #a6940a;
$yellow-c35: #d9c814;
$yellow-c30: #ebdd26;
$yellow-c25: #f2e749;
$yellow-c20: #f5ed5f;
$yellow-c15: #f7f283;
$yellow-c10: #faf6a7;
$yellow-c5: #fffccc;
//Golden
$golden-c70: #4d2c0b;
$golden-c65: #613c0c;
$golden-c60: #7a4b09;
$golden-c55: #915e11;
$golden-c50: #9e6d1e;
$golden-c45: #b57d22;
$golden-c40: #c2891f;
$golden-c35: #d49f24;
$golden-c30: #dea82a;
$golden-c25: #e8b53c;
$golden-c20: #f0c560;
$golden-c15: #f5d58c;
$golden-c10: #f7e5b2;
$golden-c5: #fff5d9;
//Orange
$orange-c70: #571f08;
$orange-c65: #703111;
$orange-c60: #913d0c;
$orange-c55: #ad4c0a;
$orange-c50: #ba5b02;
$orange-c45: #d4720b;
$orange-c40: #de7c14;
$orange-c35: #ed912f;
$orange-c30: #f59c3d;
$orange-c25: #faaa55;
$orange-c20: #fcb665;
$orange-c15: #fccc95;
$orange-c10: #ffe0bd;
$orange-c5: #ffedd9;
//Red
$red-c70: #5e0707;
$red-c65: #7d0000;
$red-c60: #a30303;
$red-c55: #bf1313;
$red-c50: #d62424;
$red-c45: #e54343;
$red-c40: #f05454;
$red-c35: #f56464;
$red-c30: #f77474;
$red-c25: #fa8282;
$red-c20: #fa9d9d;
$red-c15: #ffb8b8;
$red-c10: #ffd6d4;
$red-c5: #ffe8e8;
//Cerise
$cerise-c70: #610030;
$cerise-c65: #850045;
$cerise-c60: #a8085b;
$cerise-c55: #bd2272;
$cerise-c50: #d13485;
$cerise-c45: #e34b97;
$cerise-c40: #ed64a1;
$cerise-c35: #f76fad;
$cerise-c30: #fa89c0;
$cerise-c25: #ff8cbe;
$cerise-c20: #faa0ce;
$cerise-c15: #ffbfe0;
$cerise-c10: #ffdeef;
$cerise-c5: #ffebf8;
//Purple
$purple-c70: #421d54;
$purple-c65: #56287a;
$purple-c60: #6f3799;
$purple-c55: #853fba;
$purple-c50: #8d4cc7;
$purple-c45: #975dd9;
$purple-c40: #a270df;
$purple-c35: #ad7cf2;
$purple-c30: #b58bef;
$purple-c25: #bc97f0;
$purple-c20: #c9a9f5;
$purple-c15: #ddc4ff;
$purple-c10: #e9dcfc;
$purple-c5: #f5edff;
//Blue
$blue-c70: #00326b;
$blue-c65: #003e85;
$blue-c60: #004fa8;
$blue-c55: #065ec2;
$blue-c50: #0072db;
$blue-c45: #1183ed;
$blue-c40: #2390f7;
$blue-c35: #3b9fff;
$blue-c30: #4fa5ff;
$blue-c25: #64b0ff;
$blue-c20: #86c1ff;
$blue-c15: #afd6ff;
$blue-c10: #cee6ff;
$blue-c5: #eaf4ff;
//Aqua
$aqua-c70: #003d4f;
$aqua-c65: #004a61;
$aqua-c60: #005e7a;
$aqua-c55: #0f6d8c;
$aqua-c50: #127e99;
$aqua-c45: #0793b3;
$aqua-c40: #0fa3bd;
$aqua-c35: #26b1c9;
$aqua-c30: #4ebbcf;
$aqua-c25: #67cadb;
$aqua-c20: #83d3e5;
$aqua-c15: #a7dfeb;
$aqua-c10: #cbedf2;
$aqua-c5: #e3f7fa;
//Turquoise
$turquoise-c70: #054240;
$turquoise-c65: #0d4f4c;
$turquoise-c60: #106361;
$turquoise-c55: #117370;
$turquoise-c50: #12827a;
$turquoise-c45: #149690;
$turquoise-c40: #14a69e;
$turquoise-c35: #2eb8ac;
$turquoise-c30: #4dc4b6;
$turquoise-c25: #69d1c5;
$turquoise-c20: #89d9cd;
$turquoise-c15: #ace3da;
$turquoise-c10: #cbf2ea;
$turquoise-c5: #e3faf5;
//Green
$green-c70: #0c4207;
$green-c65: #14540a;
$green-c60: #15660c;
$green-c55: #197811;
$green-c50: #2f8717;
$green-c45: #3e961a;
$green-c40: #50a82a;
$green-c35: #67b543;
$green-c30: #79c756;
$green-c25: #91db69;
$green-c20: #a2e080;
$green-c15: #b6ed95;
$green-c10: #d8f7c6;
$green-c5: #ebfae1;
//Apple
$apple-c70: #2a400a;
$apple-c65: #374f0d;
$apple-c60: #42610e;
$apple-c55: #527310;
$apple-c50: #5c8211;
$apple-c45: #729617;
$apple-c40: #7da11b;
$apple-c35: #9bba3d;
$apple-c30: #abc951;
$apple-c25: #bad667;
$apple-c20: #c8e378;
$apple-c15: #d8ed9a;
$apple-c10: #e6f5b5;
$apple-c5: #f2fad9;

//Gray
$gray-c70: #2d2d2d;
$gray-c65: #424242;
$gray-c60: #565757;
$gray-c55: #5d5f5f;
$gray-c50: #6a6d6d;
$gray-c45: #7f8282;
$gray-c40: #898d8d;
$gray-c35: #a0a2a2;
$gray-c30: #b2b2b2;
$gray-c25: #bfc0c0;
$gray-c20: #cbcdcf;
$gray-c15: #dcdcdc;
$gray-c10: #ededed;
$gray-c5: #f7f7f8;
//Cool Gray
$cool-gray-c70: #3d3f3f;
$cool-gray-c65: #4c4e50;
$cool-gray-c60: #54585a;
$cool-gray-c55: #62676b;
$cool-gray-c50: #6f757a;
$cool-gray-c45: #7c8388;
$cool-gray-c40: #899196;
$cool-gray-c35: #989fa3;
$cool-gray-c30: #a6adb1;
$cool-gray-c25: #b3babd;
$cool-gray-c20: #c0c6c8;
$cool-gray-c15: #d5dadc;
$cool-gray-c10: #e8eced;
$cool-gray-c5: #f4f4f4;
//Warm Gray
$warm-gray-c70: #3c3530;
$warm-gray-c65: #4c4541;
$warm-gray-c60: #5b534f;
$warm-gray-c55: #6b615c;
$warm-gray-c50: #7f726b;
$warm-gray-c45: #8d7f76;
$warm-gray-c40: #9b8b81;
$warm-gray-c35: #a69990;
$warm-gray-c30: #b2a79f;
$warm-gray-c25: #bdb3ac;
$warm-gray-c20: #cec4bf;
$warm-gray-c15: #ded6d1;
$warm-gray-c10: #efecea;
$warm-gray-c5: #f7f5f2;
/*------------------------------------------------------------------
 * Muted Palette
 *----------------------------------------------------------------*/

//Yellow
$yellow-m60: #624e19;
$yellow-m55: #76611b;
$yellow-m50: #8a7517;
$yellow-m45: #988530;
$yellow-m40: #a59449;
$yellow-m30: #c1b37a;
$yellow-m20: #dcd2ac;
$yellow-m15: #ebe5cb;
$yellow-m10: #fbf8eb;
//Golden
$golden-m60: #77471e;
$golden-m55: #8b5820;
$golden-m50: #9e6b20;
$golden-m45: #a77a36;
$golden-m40: #b0884b;
$golden-m30: #c3a577;
$golden-m20: #d5c2a2;
$golden-m15: #ecdfc4;
$golden-m10: #f7f3e5;
//Orange
$orange-m60: #8a3e22;
$orange-m55: #9d4e27;
$orange-m50: #af602b;
$orange-m45: #b56e40;
$orange-m40: #bb7c54;
$orange-m30: #c7997d;
$orange-m20: #d3b5a6;
$orange-m15: #e5d2c6;
$orange-m10: #f7f0e5;
//Red
$red-m60: #972d37;
$red-m55: #aa3944;
$red-m50: #c15359;
$red-m45: #c56368;
$red-m40: #ca7277;
$red-m30: #d39294;
$red-m20: #ddb1b2;
$red-m15: #e6d0d0;
$red-m10: #f8eeee;
//Cerise
$cerise-m60: #562b4a;
$cerise-m55: #683661;
$cerise-m50: #7c4371;
$cerise-m45: #8a5683;
$cerise-m40: #976895;
$cerise-m30: #b08bae;
$cerise-m20: #c8afc6;
$cerise-m15: #e0d3df;
$cerise-m10: #f9eff5;
//Purple
$purple-m60: #423165;
$purple-m55: #533e79;
$purple-m50: #654c8e;
$purple-m45: #755d99;
$purple-m40: #846ea4;
$purple-m30: #a390ba;
$purple-m20: #c1b1cf;
$purple-m15: #e0d3e5;
$purple-m10: #f5edf7;
//Blue
$blue-m60: #293665;
$blue-m55: #344479;
$blue-m50: #42548e;
$blue-m45: #536499;
$blue-m40: #6374a3;
$blue-m30: #8494b7;
$blue-m20: #a5b4cc;
$blue-m15: #c6d4e0;
$blue-m10: #e4eef4;
//Aqua
$aqua-m60: #244753;
$aqua-m55: #2e5866;
$aqua-m50: #396b7a;
$aqua-m45: #4b7986;
$aqua-m40: #5c8792;
$aqua-m30: #7fa2ab;
$aqua-m20: #a1bdc3;
$aqua-m15: #c4d9db;
$aqua-m10: #e5f2f3;
//Turquoise
$turquoise-m60: #335245;
$turquoise-m55: #406456;
$turquoise-m50: #4f7769;
$turquoise-m45: #5d8779;
$turquoise-m40: #6a9688;
$turquoise-m30: #81aa9d;
$turquoise-m20: #a1c3ba;
$turquoise-m15: #c2ddd6;
$turquoise-m10: #e2f6f3;
//Green
$green-m60: #324826;
$green-m55: #415930;
$green-m50: #506d3c;
$green-m45: #617b4d;
$green-m40: #71895e;
$green-m30: #91a581;
$green-m20: #b2c1a3;
$green-m15: #d2ddc5;
$green-m10: #f1f7e7;
/*------------------------------------------------------------------
 * Saturated Palette
 *----------------------------------------------------------------*/

//Yellow
$yellow-s10: #fffbb3;
$yellow-s15: #fff875;
$yellow-s20: #fff200;
$yellow-s25: #f2e500;
$yellow-s30: #decf00;
$yellow-s35: #c1b300;
$yellow-s40: #9e9400;
$yellow-s45: #908400;
$yellow-s50: #817600;
//Golden
$golden-s10: #ffe5ad;
$golden-s15: #ffd77f;
$golden-s20: #ffc849;
$golden-s25: #ffbb00;
$golden-s30: #f0ad00;
$golden-s35: #da9b00;
$golden-s40: #c78800;
$golden-s45: #b57300;
$golden-s50: #a36700;
//Orange
$orange-s10: #ffe0c7;
$orange-s15: #ffc69e;
$orange-s20: #ffab6d;
$orange-s25: #ff9445;
$orange-s30: #ff8420;
$orange-s35: #ff780b;
$orange-s40: #ee6b00;
$orange-s45: #dd6003;
$orange-s50: #c25400;
//Red
$red-s10: #ffe6e6;
$red-s15: #ffcccc;
$red-s20: #ffabab;
$red-s25: #ff9090;
$red-s30: #ff7777;
$red-s35: #ff5858;
$red-s40: #ff3333;
$red-s45: #f80800;
$red-s50: #eb0000;
//Cerise
$cerise-s10: #ffe6f5;
$cerise-s15: #ffcceb;
$cerise-s20: #ffa6db;
$cerise-s25: #ff92d3;
$cerise-s30: #ff75c8;
$cerise-s35: #ff55bb;
$cerise-s40: #ff2eab;
$cerise-s45: #f200ac;
$cerise-s50: #e00097;
//Purple
$purple-s10: #f4e6ff;
$purple-s15: #ebd1ff;
$purple-s20: #deb3ff;
$purple-s25: #d6a0ff;
$purple-s30: #cb88ff;
$purple-s35: #c26cff;
$purple-s40: #b95dff;
$purple-s45: #af46ff;
$purple-s50: #a733ff;
//Blue
$blue-s10: #e6f0ff;
$blue-s15: #d1e4ff;
$blue-s20: #b3d2ff;
$blue-s25: #99c4ff;
$blue-s30: #73adff;
$blue-s35: #529aff;
$blue-s40: #3388ff;
$blue-s45: #1476ff;
$blue-s50: #006aff;
//Aqua
$aqua-s10: #d9f9ff;
$aqua-s15: #b3f2ff;
$aqua-s20: #82eaff;
$aqua-s25: #4bdbf7;
$aqua-s30: #23c3eb;
$aqua-s35: #00aede;
$aqua-s40: #009dd1;
$aqua-s45: #008ac6;
$aqua-s50: #007db3;
//Turquoise
$turquoise-s10: #d9fff6;
$turquoise-s15: #b5fff2;
$turquoise-s20: #85ffeb;
$turquoise-s25: #12f3e0;
$turquoise-s30: #00d7cf;
$turquoise-s35: #00c4c3;
$turquoise-s40: #00a3a3;
$turquoise-s45: #009393;
$turquoise-s50: #008080;
//Green
$green-s10: #e1fae1;
$green-s15: #bfffbf;
$green-s20: #99ff99;
$green-s25: #6df26d;
$green-s30: #45e545;
$green-s35: #00cc00;
$green-s40: #00ad00;
$green-s45: #009900;
$green-s50: #008a00;
//Apple
$apple-s10: #ecffc0;
$apple-s15: #dcffa1;
$apple-s20: #caff59;
$apple-s25: #b1ec00;
$apple-s30: #a0d600;
$apple-s35: #8ab800;
$apple-s40: #779e00;
$apple-s45: #698c00;
$apple-s50: #608000;

//Text Colors
$text-dark: $gray-c70;
$text-medium: $gray-c50;
/* Not contrast compliant to WCAG 2.0 */

$text-color: $text-dark;
$text-white: #fff;
$link-color: #2a4dc1;
//Brand Colors
$hmh-golden: #f2a900;
$hmh-dark-gray: $cool-gray-c60;
$hmh-light-gray: $cool-gray-c40;
/*------------------------------------------------------------------
 * Colors Object to generate classes in color-generator
 *----------------------------------------------------------------*/

$colors: text-dark $text-dark, text-medium $text-medium, text-color $text-color,
  text-white $text-white, hmh-golden $hmh-golden, hmh-dark-gray $hmh-dark-gray,
  hmh-light-gray $hmh-light-gray, yellow-c70 $yellow-c70, yellow-c65 $yellow-c65,
  yellow-c60 $yellow-c60, yellow-c55 $yellow-c55, yellow-c50 $yellow-c50,
  yellow-c45 $yellow-c45, yellow-c40 $yellow-c40, yellow-c35 $yellow-c35,
  yellow-c30 $yellow-c30, yellow-c25 $yellow-c25, yellow-c20 $yellow-c20,
  yellow-c15 $yellow-c15, yellow-c10 $yellow-c10, yellow-c5 $yellow-c5,
  golden-c70 $golden-c70, golden-c65 $golden-c65, golden-c60 $golden-c60,
  golden-c55 $golden-c55, golden-c50 $golden-c50, golden-c45 $golden-c45,
  golden-c40 $golden-c40, golden-c35 $golden-c35, golden-c30 $golden-c30,
  golden-c25 $golden-c25, golden-c20 $golden-c20, golden-c15 $golden-c15,
  golden-c10 $golden-c10, golden-c5 $golden-c5, orange-c70 $orange-c70,
  orange-c65 $orange-c65, orange-c60 $orange-c60, orange-c55 $orange-c55,
  orange-c50 $orange-c50, orange-c45 $orange-c45, orange-c40 $orange-c40,
  orange-c35 $orange-c35, orange-c30 $orange-c30, orange-c25 $orange-c25,
  orange-c20 $orange-c20, orange-c15 $orange-c15, orange-c10 $orange-c10,
  orange-c5 $orange-c5, red-c70 $red-c70, red-c65 $red-c65, red-c60 $red-c60,
  red-c55 $red-c55, red-c50 $red-c50, red-c45 $red-c45, red-c40 $red-c40,
  red-c35 $red-c35, red-c30 $red-c30, red-c25 $red-c25, red-c20 $red-c20,
  red-c15 $red-c15, red-c10 $red-c10, red-c5 $red-c5, cerise-c70 $cerise-c70,
  cerise-c65 $cerise-c65, cerise-c60 $cerise-c60, cerise-c55 $cerise-c55,
  cerise-c50 $cerise-c50, cerise-c45 $cerise-c45, cerise-c40 $cerise-c40,
  cerise-c35 $cerise-c35, cerise-c30 $cerise-c30, cerise-c25 $cerise-c25,
  cerise-c20 $cerise-c20, cerise-c15 $cerise-c15, cerise-c10 $cerise-c10,
  cerise-c5 $cerise-c5, purple-c70 $purple-c70, purple-c65 $purple-c65,
  purple-c60 $purple-c60, purple-c55 $purple-c55, purple-c50 $purple-c50,
  purple-c45 $purple-c45, purple-c40 $purple-c40, purple-c35 $purple-c35,
  purple-c30 $purple-c30, purple-c25 $purple-c25, purple-c20 $purple-c20,
  purple-c15 $purple-c15, purple-c10 $purple-c10, purple-c5 $purple-c5,
  blue-c70 $blue-c70, blue-c65 $blue-c65, blue-c60 $blue-c60, blue-c55 $blue-c55,
  blue-c50 $blue-c50, blue-c45 $blue-c45, blue-c40 $blue-c40, blue-c35 $blue-c35,
  blue-c30 $blue-c30, blue-c25 $blue-c25, blue-c20 $blue-c20, blue-c15 $blue-c15,
  blue-c10 $blue-c10, blue-c5 $blue-c5, aqua-c70 $aqua-c70, aqua-c65 $aqua-c65,
  aqua-c60 $aqua-c60, aqua-c55 $aqua-c55, aqua-c50 $aqua-c50, aqua-c45 $aqua-c45,
  aqua-c40 $aqua-c40, aqua-c35 $aqua-c35, aqua-c30 $aqua-c30, aqua-c25 $aqua-c25,
  aqua-c20 $aqua-c20, aqua-c15 $aqua-c15, aqua-c10 $aqua-c10, aqua-c5 $aqua-c5,
  turquoise-c70 $turquoise-c70, turquoise-c65 $turquoise-c65,
  turquoise-c60 $turquoise-c60, turquoise-c55 $turquoise-c55,
  turquoise-c50 $turquoise-c50, turquoise-c45 $turquoise-c45,
  turquoise-c40 $turquoise-c40, turquoise-c35 $turquoise-c35,
  turquoise-c30 $turquoise-c30, turquoise-c25 $turquoise-c25,
  turquoise-c20 $turquoise-c20, turquoise-c15 $turquoise-c15,
  turquoise-c10 $turquoise-c10, turquoise-c5 $turquoise-c5, green-c70 $green-c70,
  green-c65 $green-c65, green-c60 $green-c60, green-c55 $green-c55,
  green-c50 $green-c50, green-c45 $green-c45, green-c40 $green-c40,
  green-c35 $green-c35, green-c30 $green-c30, green-c25 $green-c25,
  green-c20 $green-c20, green-c15 $green-c15, green-c10 $green-c10,
  green-c5 $green-c5, gray-c70 $gray-c70, gray-c65 $gray-c65, gray-c60 $gray-c60,
  gray-c55 $gray-c55, gray-c50 $gray-c50, gray-c45 $gray-c45, gray-c40 $gray-c40,
  gray-c35 $gray-c35, gray-c30 $gray-c30, gray-c25 $gray-c25, gray-c20 $gray-c20,
  gray-c15 $gray-c15, gray-c10 $gray-c10, gray-c5 $gray-c5,
  cool-gray-c70 $cool-gray-c70, cool-gray-c65 $cool-gray-c65,
  cool-gray-c60 $cool-gray-c60, cool-gray-c55 $cool-gray-c55,
  cool-gray-c50 $cool-gray-c50, cool-gray-c45 $cool-gray-c45,
  cool-gray-c40 $cool-gray-c40, cool-gray-c35 $cool-gray-c35,
  cool-gray-c30 $cool-gray-c30, cool-gray-c25 $cool-gray-c25,
  cool-gray-c20 $cool-gray-c20, cool-gray-c15 $cool-gray-c15,
  cool-gray-c10 $cool-gray-c10, cool-gray-c5 $cool-gray-c5,
  warm-gray-c70 $warm-gray-c70, warm-gray-c65 $warm-gray-c65,
  warm-gray-c60 $warm-gray-c60, warm-gray-c55 $warm-gray-c55,
  warm-gray-c50 $warm-gray-c50, warm-gray-c45 $warm-gray-c45,
  warm-gray-c40 $warm-gray-c40, warm-gray-c35 $warm-gray-c35,
  warm-gray-c30 $warm-gray-c30, warm-gray-c25 $warm-gray-c25,
  warm-gray-c20 $warm-gray-c20, warm-gray-c15 $warm-gray-c15,
  warm-gray-c10 $warm-gray-c10, warm-gray-c5 $warm-gray-c5,
  yellow-m60 $yellow-m60, yellow-m55 $yellow-m55, yellow-m50 $yellow-m50,
  yellow-m45 $yellow-m45, yellow-m40 $yellow-m40, yellow-m30 $yellow-m30,
  yellow-m20 $yellow-m20, yellow-m15 $yellow-m15, yellow-m10 $yellow-m10,
  golden-m60 $golden-m60, golden-m55 $golden-m55, golden-m50 $golden-m50,
  golden-m45 $golden-m45, golden-m40 $golden-m40, golden-m30 $golden-m30,
  golden-m20 $golden-m20, golden-m15 $golden-m15, golden-m10 $golden-m10,
  orange-m60 $orange-m60, orange-m55 $orange-m55, orange-m50 $orange-m50,
  orange-m45 $orange-m45, orange-m40 $orange-m40, orange-m30 $orange-m30,
  orange-m20 $orange-m20, orange-m15 $orange-m15, orange-m10 $orange-m10,
  red-m60 $red-m60, red-m55 $red-m55, red-m50 $red-m50, red-m45 $red-m45,
  red-m40 $red-m40, red-m30 $red-m30, red-m20 $red-m20, red-m15 $red-m15,
  red-m10 $red-m10, cerise-m60 $cerise-m60, cerise-m55 $cerise-m55,
  cerise-m50 $cerise-m50, cerise-m45 $cerise-m45, cerise-m40 $cerise-m40,
  cerise-m30 $cerise-m30, cerise-m20 $cerise-m20, cerise-m15 $cerise-m15,
  cerise-m10 $cerise-m10, purple-m60 $purple-m60, purple-m55 $purple-m55,
  purple-m50 $purple-m50, purple-m45 $purple-m45, purple-m40 $purple-m40,
  purple-m30 $purple-m30, purple-m20 $purple-m20, purple-m15 $purple-m15,
  purple-m10 $purple-m10, blue-m60 $blue-m60, blue-m55 $blue-m55,
  blue-m50 $blue-m50, blue-m45 $blue-m45, blue-m40 $blue-m40, blue-m30 $blue-m30,
  blue-m20 $blue-m20, blue-m15 $blue-m15, blue-m10 $blue-m10, aqua-m60 $aqua-m60,
  aqua-m55 $aqua-m55, aqua-m50 $aqua-m50, aqua-m45 $aqua-m45, aqua-m40 $aqua-m40,
  aqua-m30 $aqua-m30, aqua-m20 $aqua-m20, aqua-m15 $aqua-m15, aqua-m10 $aqua-m10,
  turquoise-m60 $turquoise-m60, turquoise-m55 $turquoise-m55,
  turquoise-m50 $turquoise-m50, turquoise-m45 $turquoise-m45,
  turquoise-m40 $turquoise-m40, turquoise-m30 $turquoise-m30,
  turquoise-m20 $turquoise-m20, turquoise-m15 $turquoise-m15,
  turquoise-m10 $turquoise-m10, green-m60 $green-m60, green-m55 $green-m55,
  green-m50 $green-m50, green-m45 $green-m45, green-m40 $green-m40,
  green-m30 $green-m30, green-m20 $green-m20, green-m15 $green-m15,
  green-m10 $green-m10, yellow-s10 $yellow-s10, yellow-s15 $yellow-s15,
  yellow-s20 $yellow-s20, yellow-s25 $yellow-s25, yellow-s30 $yellow-s30,
  yellow-s35 $yellow-s35, yellow-s40 $yellow-s40, golden-s10 $golden-s10,
  golden-s15 $golden-s15, golden-s20 $golden-s20, golden-s25 $golden-s25,
  golden-s30 $golden-s30, golden-s35 $golden-s35, golden-s40 $golden-s40,
  orange-s10 $orange-s10, orange-s15 $orange-s15, orange-s20 $orange-s20,
  orange-s25 $orange-s25, orange-s30 $orange-s30, orange-s35 $orange-s35,
  orange-s40 $orange-s40, red-s10 $red-s10, red-s15 $red-s15, red-s20 $red-s20,
  red-s25 $red-s25, red-s30 $red-s30, red-s35 $red-s35, red-s40 $red-s40,
  cerise-s10 $cerise-s10, cerise-s15 $cerise-s15, cerise-s20 $cerise-s20,
  cerise-s25 $cerise-s25, cerise-s30 $cerise-s30, cerise-s35 $cerise-s35,
  cerise-s40 $cerise-s40, purple-s10 $purple-s10, purple-s15 $purple-s15,
  purple-s20 $purple-s20, purple-s25 $purple-s25, purple-s30 $purple-s30,
  purple-s35 $purple-s35, purple-s40 $purple-s40, blue-s10 $blue-s10,
  blue-s15 $blue-s15, blue-s20 $blue-s20, blue-s25 $blue-s25, blue-s30 $blue-s30,
  blue-s35 $blue-s35, blue-s40 $blue-s40, aqua-s10 $aqua-s10, aqua-s15 $aqua-s15,
  aqua-s20 $aqua-s20, aqua-s25 $aqua-s25, aqua-s30 $aqua-s30, aqua-s35 $aqua-s35,
  aqua-s40 $aqua-s40, turquoise-s10 $turquoise-s10, turquoise-s15 $turquoise-s15,
  turquoise-s20 $turquoise-s20, turquoise-s25 $turquoise-s25,
  turquoise-s30 $turquoise-s30, turquoise-s35 $turquoise-s35,
  turquoise-s40 $turquoise-s40, green-s10 $green-s10, green-s15 $green-s15,
  green-s20 $green-s20, green-s25 $green-s25, green-s30 $green-s30,
  green-s35 $green-s35, green-s40 $green-s40;

// Action Buttons defaults
$action-transparent: transparent;
$action-xxlight: white;
$action-xlight: $blue-c10;
$action-light: $blue-c15;
$action-mid: $blue-c50;
$action-dark: $blue-c55;
$action-xdark: $blue-c60;
$action-mid-small: $blue-c50;
$action-dark-small: $blue-c55;
$action-xdark-small: $blue-c60;
// Tool Buttons defaults
$tool-transparent: transparent;
$tool-xxlight: white;
$tool-xlight: $gray-c10;
$tool-light: $gray-c15;
$tool-mid: $gray-c50;
$tool-xdark: $gray-c70;
// Feedback colours
$feedback-green: #008000;
$feedback-red: #e60000;
// Table defaults
$table-caption-background: white;
$table-caption-text: $gray-c50;
$table-row: white;
$table-alternate-row: $gray-c10;
$table-head-background: $blue-c10;
$table-head-text: $blue-c55;
$table-border: $gray-c30;
$table-text: $text-dark;
