@charset "UTF-8";
/* L5 to L9 use base-line-height */
/* Used when UI items need to be places between lines. eg Select Interaction */
/* same across all viewport widths */
/* TOP SPACE EQUALIZE */
/* Text */
/* all screen ranges */
/* Object */
/* TOP SPACE REGULAR */
/* Text */
/* all screen ranges */
/* Object */
/* TOP SPACE MEDIUM */
/* Text */
/* Object */
/* TOP SPACE LARGE */
/* Text */
/* Object */
/* Object only */
/* Object only */
/* all screen ranges */
/* all screen ranges */
/* Reduced Top Space */
/* Text */
/* Object */
/* Increased Top Space */
/* Text */
/* Object */
/* Vertical padding */
/* Spacer margin: Increase top space via spacer pattern */
/*------------------------------------------------------------------
 * Flexgrid
 *----------------------------------------------------------------*/
/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables:
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 *
 * The grid will name columns, rows, offsets based on these three variables:
 * $fg-class-row string used for the row class
 * $fg-class-col string used for the column class
 * $fg-class-off string used for the offset class
 */
/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the
 * understanding that you can pass in whatever you might require for your site.
 *
 * $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 *
 * Note: If the measurement is left out then it will be skipped when generating
 * the grid and applied to global styles.
 *
 */
/*------------------------------------------------------------------
 * Core Palette
 *----------------------------------------------------------------*/
/*------------------------------------------------------------------
 * Muted Palette
 *----------------------------------------------------------------*/
/*------------------------------------------------------------------
 * Saturated Palette
 *----------------------------------------------------------------*/
/* Not contrast compliant to WCAG 2.0 */
/*------------------------------------------------------------------
 * Colors Object to generate classes in color-generator
 *----------------------------------------------------------------*/
html:not(.s9-habitat-editing-enabled) {
  height: 100%;
  overflow: scroll;
}

body.racism {
  min-height: 100%;
  position: relative;
  color: #2d2d2d;
  padding-bottom: 4rem;
}

body.racism * {
  box-sizing: border-box;
}

.racism {
  /* Standards Tool */
  /* End Standards Tool */
  /* Assessment Tool */
}
.racism .noflex article.main {
  padding: 0 10px;
  max-width: 650px;
}
@media only screen and (min-width: 650px) {
  .racism .noflex article.main {
    padding: 0 15px;
  }
}
.racism .noflex article.main p {
  padding-left: 0;
  padding-right: 0;
}
.racism hr {
  margin: 4rem auto;
  width: 100%;
  height: 2px;
  max-width: 13.5rem;
  background: #065ec2;
}
.racism .caption-hr {
  max-width: unset;
}
.racism dfn {
  hyphens: none;
}
.racism h1 {
  margin-left: 0;
  color: white;
  font-family: "DIN 1451 LT", sans-serif;
  background-color: #065EC2;
}
.racism h2 {
  font-family: "Aachen", sans-serif;
  border-bottom: 2px solid #065ec2;
  margin-bottom: 2.5rem;
  padding-bottom: 0.5rem;
}
.racism h3 {
  font-family: "Aachen", sans-serif;
  border-bottom: 2px solid #065ec2;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}
.racism h4 {
  font-weight: 700;
}
.racism h5 {
  font-weight: 700;
  color: #127e99;
}
.racism ul, .racism ol {
  margin-left: 1.5rem;
}
.racism ul li, .racism ol li {
  margin-top: 0;
  padding: 0.34090909rem 0;
  line-height: 1.5;
}
.racism ul li:first-child, .racism ol li:first-child {
  margin-top: 0;
}
.racism ul > li:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #065ec2;
  left: -1.5rem;
  top: 0.88636364rem;
  transform: unset;
}
.racism .dropcap:first-letter {
  font-family: "DIN 1451 LT", sans-serif;
  color: #2d2d2d;
  font-size: 5.2rem;
  line-height: 0.8;
  font-weight: 400;
}
.racism header .row.feature {
  align-items: flex-start;
}
.racism figure > blockquote, .racism figure > blockquote.breakout,
.racism blockquote,
.racism blockquote.breakout {
  font-family: "DIN 1451 LT", sans-serif;
  background: #fff200;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 3rem 0;
  text-transform: uppercase;
  position: relative;
  quotes: "“" "”" "‘" "’";
}
@media only screen and (min-width: 650px) {
  .racism figure > blockquote, .racism figure > blockquote.breakout,
.racism blockquote,
.racism blockquote.breakout {
    padding: 1rem 1rem 1rem 2.5rem;
  }
}
.racism figure > blockquote:before, .racism figure > blockquote.breakout:before,
.racism blockquote:before,
.racism blockquote.breakout:before {
  position: absolute;
  top: -2.25rem;
  left: 0;
  font-size: 5rem;
  content: "“";
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}
.racism figure > blockquote:after, .racism figure > blockquote.breakout:after,
.racism blockquote:after,
.racism blockquote.breakout:after {
  top: 0;
  right: calc(-2vw - 10px);
  position: absolute;
  content: "";
  height: 100%;
  width: 100vw;
  background: #fff200;
  z-index: -1;
}
@media only screen and (min-width: 480px) {
  .racism figure > blockquote:after, .racism figure > blockquote.breakout:after,
.racism blockquote:after,
.racism blockquote.breakout:after {
    right: calc(-2.25vw - 40px);
  }
}
@media only screen and (min-width: 650px) {
  .racism figure > blockquote:after, .racism figure > blockquote.breakout:after,
.racism blockquote:after,
.racism blockquote.breakout:after {
    right: calc(-3.55vw - 40px);
  }
}
@media only screen and (min-width: 753px) {
  .racism figure > blockquote:after, .racism figure > blockquote.breakout:after,
.racism blockquote:after,
.racism blockquote.breakout:after {
    right: calc(-50vw + 310px);
  }
}
@media only screen and (min-width: 880px) {
  .racism figure > blockquote:after, .racism figure > blockquote.breakout:after,
.racism blockquote:after,
.racism blockquote.breakout:after {
    right: 0;
  }
}
.racism figure > blockquote.inline,
.racism blockquote.inline {
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  border-left: 15px #dcdcdc solid;
  padding: 20px;
  margin: 0.5445rem 0 0.6745rem;
  background: #f7f7f8;
}
@media only screen and (min-width: 650px) {
  .racism figure > blockquote.inline,
.racism blockquote.inline {
    padding: 1.5rem;
    margin: 0.7945rem 0;
  }
}
.racism figure > blockquote.inline footer,
.racism blockquote.inline footer {
  margin-top: 1.5rem;
}
.racism figure > blockquote.inline footer:before,
.racism blockquote.inline footer:before {
  content: "— ";
}
.racism .aside-left blockquote, .racism .aside-right blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 0 1rem 0;
}
@media only screen and (min-width: 650px) {
  .racism .aside-left blockquote, .racism .aside-right blockquote {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 650px) {
  .racism .aside-left blockquote {
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 650px) {
  .racism .aside-left blockquote:after {
    right: 0;
  }
}
@media only screen and (min-width: 650px) {
  .racism .aside-right blockquote {
    padding-left: 1rem;
  }
}
@media only screen and (min-width: 650px) {
  .racism .aside-right blockquote:before {
    left: 1rem;
  }
}
@media only screen and (min-width: 650px) {
  .racism .aside-right blockquote:after {
    right: unset;
    left: 0;
  }
}
.racism a {
  text-decoration: none;
  color: #2d2d2d;
}
.racism .img-caption .copyright, .racism .img-caption .caption, .racism .img-caption figcaption, .racism caption {
  margin-left: 0;
}
.racism .context-page > footer, .racism .opener-page > footer {
  width: 100%;
  height: 12px;
  background-color: #fff200;
  position: absolute;
  bottom: 0;
  left: 0;
}
.racism .context-page {
  padding-top: 6px;
  position: relative;
}
.racism .context-page:after {
  width: 100%;
  height: 6px;
  background-color: #065ec2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.racism .context-page.title:before {
  position: absolute;
  top: 6px;
  left: 0;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  font-family: "DIN 1451 LT", sans-serif;
  background: #065ec2;
  z-index: 9;
  content: "What you need to know";
  padding: 0 0.72727273rem;
  line-height: 2.27272727rem;
}
@media only screen and (min-width: 650px) {
  .racism .context-page.title:before {
    font-size: 1.3rem;
    left: calc(3.55vw + 40px);
  }
}
@media only screen and (min-width: 753px) {
  .racism .context-page.title:before {
    left: calc((100vw - 700px) / 2 + 40px);
  }
}
@media only screen and (min-width: 880px) {
  .racism .context-page.title:before {
    left: calc(3.55vw + 40px);
  }
}
@media only screen and (min-width: 1103px) {
  .racism .context-page.title:before {
    left: calc((100vw - 1025px) / 2 + 40px);
  }
}
.racism .context-page.title > article:first-of-type:first-child {
  margin-top: 2.27272727rem;
}
.racism .context-page header img {
  margin-top: 0;
  height: 12.5rem;
  object-fit: cover;
  object-position: center center;
}
@media only screen and (min-width: 650px) {
  .racism .context-page header img {
    height: 16.5rem;
  }
}
@media only screen and (min-width: 880px) {
  .racism .context-page header img {
    height: 20rem;
  }
}
.racism .context-page header .img-caption .caption {
  margin: 0;
  width: 100%;
}
.racism .case-study h2, .racism .courageous-conversations h2 {
  color: white;
  margin-bottom: 4.8182rem;
  padding-left: 5.22727273rem;
  position: relative;
  border: 0;
}
.racism .case-study h2:before, .racism .courageous-conversations h2:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
}
.racism .case-study {
  background: #6f3799;
  padding: 0 0 1.75rem;
}
.racism .case-study h2:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 100 100' xml:space='preserve'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cpath d='M18.9 38.6h16v3.3h-16zM19.2 47.9h16v3.3h-16zM19.2 57.3h16v3.3h-16zM19.2 66.7h38.5V70H19.2zM19.2 76h38.5v3.3H19.2z' class='st0'/%3E%3Cpath d='M91.9 78.8L81.3 63.2c-.7-1-1.8-1.6-3-1.6l-3.7-5.5a19.5 19.5 0 00-5.2-32.8v-9.8c0-1-.8-2-1.9-2H25.8a2 2 0 00-1.4.7L8.7 29a2 2 0 00-.5 1.3v56.3c0 1 .8 1.9 2 1.9h57.3c1 0 2-.9 2-2V59.5l2-1 3.6 5.4c-.5 1-.4 2.4.3 3.4L86 82.8a3.6 3.6 0 005 1c1.6-1.1 2-3.4 1-5zM77.6 41.3a15.7 15.7 0 11-31.5 0 15.7 15.7 0 0131.5 0zM25 17.3v11.4H14.3L25 17.2zm40.6 67.3H12V32h14.6c1 0 1.7-.8 1.7-1.7V15.4h37.3v6.7a19.6 19.6 0 100 38.4v24.1z' class='st0'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.22727273rem;
  height: 3.86363636rem;
}
.racism .case-study .file-bg:before {
  content: "Case Study";
  left: 0;
  color: #6f3799;
}
@media only screen and (min-width: 650px) {
  .racism .case-study .file-bg:before {
    left: 3.5rem;
  }
}
.racism .case-study .file-bg:after {
  left: 0;
}
@media only screen and (min-width: 650px) {
  .racism .case-study .file-bg:after {
    left: 1.75rem;
  }
}
.racism .courageous-conversations {
  background: #127e99;
  padding: 0 0 1.75rem;
  counter-reset: orderedlist;
}
.racism .courageous-conversations h2:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23fff' d='M86.8 37.3H60.3V17.5c0-2.8-2.3-5.1-5.1-5.1H13.3a5.1 5.1 0 00-5.1 5v29.8c0 2.7 2.2 5 4.9 5.1l-3.4 8.4c-.4 1 .5 2 1.5 2l.7-.1 19.7-10.3h8.2v19.8c0 2.9 2.3 5.2 5.1 5.2h23.6l19.8 10.2c.2.2.5.2.7.2 1 0 1.9-1 1.4-2l-3.3-8.5a5.1 5.1 0 004.9-5V42.3c0-2.8-2.3-5-5.2-5zM31.6 48h-1l-1 .5L16.8 55l.4-1 2.3-5.9-6.2-.2a.7.7 0 01-.7-.7V17.5c0-.4.3-.7.7-.7h41.9c.4 0 .7.3.7.7v19.8h-11a5.1 5.1 0 00-5 5.2v5.4h-8.3zM56 41.8v5.4c0 .3-.3.7-.7.7h-11v-5.4c0-.4.3-.7.7-.7h11zM87.5 72c0 .4-.3.7-.6.7l-6.3.3L83 79l.4 1.1-12.8-6.7-1-.5H45a.7.7 0 01-.7-.7V52.3h11c2.8 0 5.1-2.3 5.1-5.1v-5.4h26.5c.4 0 .7.3.7.6v29.7z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.22727273rem;
  height: 3.86363636rem;
}
.racism .courageous-conversations .file-bg:before {
  content: "Courageous Conversations";
  right: 0;
  color: #127e99;
}
@media only screen and (min-width: 650px) {
  .racism .courageous-conversations .file-bg:before {
    right: 3.5rem;
  }
}
.racism .courageous-conversations .file-bg:after {
  right: 0;
}
@media only screen and (min-width: 650px) {
  .racism .courageous-conversations .file-bg:after {
    right: 1.75rem;
  }
}
.racism .courageous-conversations .main > .l4 {
  color: #127e99;
  margin-top: 3rem;
  font-weight: 600;
}
.racism .courageous-conversations ul li:before {
  background-color: #127e99;
}
.racism .courageous-conversations ol {
  margin-left: 0;
  list-style: none;
}
.racism .courageous-conversations ol li > h4 {
  padding-left: 2.5rem;
  position: relative;
}
.racism .courageous-conversations ol li > h4:before {
  width: 2rem;
  height: 2rem;
  top: calc(50% - 1rem);
  left: 0;
  position: absolute;
  counter-increment: orderedlist;
  content: counter(orderedlist);
  border-radius: 50%;
  border: 5px solid #127e99;
  line-height: calc(2rem - 10px);
  text-align: center;
  color: #127e99;
}
@media only screen and (min-width: 650px) {
  .racism .courageous-conversations ol li > h4:before {
    border: 4px solid #127e99;
    line-height: calc(2rem - 8px);
  }
}
.racism .courageous-conversations ol .essential-question {
  max-width: 19rem;
}
.racism .courageous-conversations .noflex .aside-right {
  margin-top: 3.09090909rem;
}
.racism .file-bg {
  padding: 0 0 4rem;
  position: relative;
}
.racism .file-bg:before {
  background: white;
  position: absolute;
  top: -2.3rem;
  height: 2.3rem;
  padding: 0 0.5rem;
  font-family: "DIN 1451 LT", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.racism .file-bg:after {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background: white;
  content: "";
  z-index: -1;
}
.racism .file-bg aside {
  border: 3px solid #127e99;
}
.racism .opener-page header {
  margin-bottom: 2.5rem;
}
.racism .opener-page .header-wrap {
  background: black;
  padding-top: 1.5rem;
  position: relative;
  z-index: -2;
  margin-bottom: 0.681rem;
}
@media only screen and (min-width: 650px) {
  .racism .opener-page .header-wrap {
    min-height: 56.25vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media only screen and (min-width: 1280px) {
  .racism .opener-page .header-wrap figure {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(54.1916666667vw + 25px + 3.55vw);
  }
}
@media only screen and (min-width: 1280px) {
  .racism .opener-page .header-wrap figure img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1280px) {
  .racism .opener-page .header-wrap .row {
    flex-direction: row-reverse;
  }
}
.racism .opener-page .main .l4 {
  color: #065ec2;
  position: relative;
  font-weight: 600;
}
.racism .opener-page .main .l4:before {
  width: 3rem;
  height: 2rem;
  content: "";
  position: absolute;
  top: -0.75rem;
  left: 0;
  border-top: 3px solid #065ec2;
}
@media only screen and (min-width: 480px) {
  .racism .opener-page .main .l4:before {
    top: -1.25rem;
    left: -1.25rem;
    width: 2rem;
    border-left: 3px solid #065ec2;
  }
}
.racism .opener-page .essential-question {
  position: relative;
}
.racism .opener-page .essential-question:after {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff200;
  z-index: -1;
}
@media only screen and (min-width: 1280px) {
  .racism .opener-page .essential-question:after {
    content: "";
  }
}
.racism .caution-page {
  display: flex;
  align-items: center;
  background-size: cover;
  padding: 2rem 0;
  min-height: 100%;
  position: relative;
}
.racism .caution-page figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.racism .caution-page figure img {
  margin: 0;
  height: 100%;
  object-fit: cover;
}
.racism .caution-page figure:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background: black;
}
.racism .caution-page div {
  width: 100%;
}
.racism .caution-page > div {
  display: none;
}
.racism .caution-page > div:first-of-type {
  display: block;
}
.racism .student-journal {
  position: relative;
  border: 3px solid #fff200;
  color: #065ec2;
  padding: 1.25rem 1.25rem 0.75rem;
  margin: 1.5rem 0;
}
@media only screen and (min-width: 650px) {
  .racism .student-journal {
    border: 0;
    padding: 0 0 0 2.5rem;
    margin: 0;
  }
}
.racism .student-journal:before {
  width: 2.09090909rem;
  height: 3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 44 58' xml:space='preserve'%3E%3Cstyle%3E.st2%7Bfill:none;stroke:%23065ec2;stroke-width:2;stroke-linecap:square%7D%3C/style%3E%3Cg id='Style-Guides'%3E%3Cg id='A06-Spacing' transform='translate(-210 -2095)'%3E%3Cg id='Student-Journal' transform='translate(211 2091)'%3E%3Cg id='Group-3' transform='translate(0 4)'%3E%3Cpath id='Rectangle-3-Copy' fill='%23fff' stroke='%23065ec2' stroke-width='3' d='M5 8h36v48H5z'/%3E%3Cpath fill='%23065ec2' d='M25 33.4L18.7.7l-7.6 2 11 31.5 3-.8zm4.4 10.2l-1.6-6.1-6.2 1.6 1.7 6.1 6.1-1.6z'/%3E%3Cpath id='Line-2' d='M.5 17.5h10' class='st2'/%3E%3Cpath d='M.5 27h10M.5 36.5h10M.5 46h10' class='st2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: -2.1rem;
  left: calc(50% - 1rem);
}
@media only screen and (min-width: 650px) {
  .racism .student-journal:before {
    top: 0.1rem;
    left: 0;
  }
}
@media only screen and (min-width: 880px) {
  .racism .student-journal:before {
    top: 0.35rem;
  }
}
.racism .student-journal h5 {
  text-transform: uppercase;
  margin-top: 0;
  font-family: "DIN 1451 LT", sans-serif;
  text-align: center;
  color: #065ec2;
  font-weight: unset;
}
@media only screen and (min-width: 650px) {
  .racism .student-journal h5 {
    border-bottom: 3px solid #fff200;
    text-align: left;
  }
}
.racism .student-journal p {
  margin-top: 0;
}
.racism .student-journal a {
  color: #065ec2;
  font-weight: 400;
}
.racism .student-journal a:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23065ec2' d='M19 19H5V5h7V3H5a2 2 0 00-2 2v14c0 1.1.9 2 2 2h14a2 2 0 002-2v-7h-2v7zM14 3v2h3.6l-9.8 9.8 1.4 1.4L19 6.4V10h2V3h-7z'/%3E%3C/svg%3E");
  background-size: auto 100%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  transform: translateY(0.125rem);
  margin-left: 0.125rem;
}
.racism .essential-question {
  background-color: #fff200;
  padding: 1.75rem 1rem 0.75rem;
  position: relative;
  margin: 2.5rem 0;
}
@media only screen and (min-width: 650px) {
  .racism .essential-question {
    padding: 1rem 4rem 1rem 2.5rem;
    margin: 1.5rem 0;
  }
}
.racism .essential-question:before {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: black;
  border: 4px solid #fff200;
  color: white;
  content: "?";
  position: absolute;
  top: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "DIN 1451 LT", sans-serif;
  font-size: 2.1rem;
  text-align: center;
  line-height: 2.3rem;
}
@media only screen and (min-width: 650px) {
  .racism .essential-question:before {
    width: 3.5rem;
    height: 3.5rem;
    top: 50%;
    left: -1.75rem;
    transform: translateY(-50%);
    font-size: 2.9rem;
    line-height: 3.3rem;
  }
}
.racism .essential-question h4 {
  font-family: "DIN 1451 LT", sans-serif;
  margin-top: 0;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  padding-bottom: 0.27272727rem;
  margin-bottom: 0.27272727rem;
  font-weight: unset;
}
.racism .essential-question p {
  color: #2d2d2d;
  margin-top: 0;
}
.racism .caution-panel {
  padding: 1rem 20px;
  background: #fffccc;
  border: 4px solid #fff200;
  font-size: 1rem;
  margin-top: 2.81818182rem;
  position: relative;
}
@media only screen and (min-width: 650px) {
  .racism .caution-panel {
    padding: 1rem 1.5rem;
  }
}
.racism .caution-panel h4 + p, .racism .caution-panel h5 + p, .racism .caution-panel h6 + p {
  margin-top: 0;
  padding-top: 0;
}
.racism .caution-panel h4:first-child, .racism .caution-panel h5:first-child, .racism .caution-panel h6:first-child {
  margin-top: 0;
}
.racism .caution-panel p:first-child {
  margin-top: 0;
  padding-top: 0;
}
.racism .caution-panel h4 {
  height: 2.81818182rem;
  padding: 0 0.81818182rem 0 3.25rem;
  content: "Before you read";
  font-family: "DIN 1451 LT", sans-serif;
  position: absolute;
  top: -2.81818182rem;
  right: -4px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43 43'%3E%3Cpath fill='%23e54343' fill-rule='evenodd' stroke='%23fff' stroke-linejoin='round' stroke-width='3' d='M21.5 2L41 41H2z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' d='M20.7 29.8l-.8-10.9v-4.5H23v4.5l-.7 10.9h-1.6zm-.6 5.1V32H23v2.9h-2.9z'/%3E%3C/svg%3E"), #fff200;
  background-size: 1.72727273rem 1.72727273rem;
  background-position: 1.09090909rem center;
  background-repeat: no-repeat;
  font-size: 1.3rem;
  line-height: 2.81818182rem;
  text-transform: uppercase;
  font-weight: 400;
}
.racism .panel-colour {
  background: #e3faf5;
  padding: 0.72727273rem;
  margin: 1.5rem 0;
  position: relative;
  border: 3px solid #127e99;
}
.racism .panel-colour h5 {
  margin-top: 0;
}
.racism .panel-colour ul {
  padding-top: 0;
  margin-left: 1rem;
}
@media only screen and (min-width: 650px) {
  .racism .panel-colour ul:not(.single-col) {
    column-count: 2;
  }
}
.racism .panel-colour ul li {
  padding: 0;
}
.racism .panel-colour ul li:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  left: -1rem;
  top: 0.7rem;
  transform: unset;
}
.racism .glossary {
  display: none;
}
@media only print {
  @page {
    .racism {
      margin: 5vw 5vw 10vw 5vw;
    }
  }
  .racism .feature,
.racism .wide {
    padding: 0;
    max-width: unset;
    position: relative;
  }
  .racism .main {
    width: 65%;
    padding: 0 2.5%;
  }
  .racism h4,
.racism .l4,
.racism .intro-text {
    font-size: 22px;
  }
  .racism h5,
.racism p,
.racism .l5,
.racism .supertitle,
.racism .subtitle,
.racism li {
    font-size: 15px;
  }
  .racism .l7,
.racism .caption,
.racism figcaption,
.racism caption {
    font-size: 12px;
  }
  .racism .l9,
.racism .copyright {
    font-size: 10px;
  }
  .racism .opener-page {
    border-top: 6px solid black;
  }
  .racism .opener-page header figure {
    width: 96%;
    margin: 0 auto;
  }
  .racism .opener-page header figure img {
    width: 65%;
    max-width: 650px;
    padding: 0 10px;
  }
  .racism .opener-page header figure + article {
    position: absolute;
    top: 5.8745rem;
    left: 2%;
    /* right: 0; */
    justify-content: flex-end;
  }
  .racism .opener-page header figure + article section {
    align-items: flex-end;
  }
  .racism .opener-page header figure + article section .essential-question {
    width: 215px;
    padding: 2rem 1rem 0.5rem;
  }
  .racism .opener-page header figure + article section .essential-question:before {
    top: -1.75rem;
    left: calc(50% - 1.75rem);
    transform: translateY(0);
  }
  .racism .opener-page .header-wrap {
    background: unset;
    margin-bottom: 0;
  }
  .racism .opener-page h1 {
    color: black;
  }
  .racism .opener-page section.col-xs-12 {
    max-width: 650px;
    width: 65%;
    flex-basis: unset;
  }
  .racism footer {
    break-after: page;
  }
  .racism .context-page.title:before {
    color: #065ec2;
    background-color: unset;
  }
  .racism .context-page.title header {
    margin-top: 2.27272727rem;
  }
  .racism .context-page.title header .image-metadata {
    width: 96%;
    margin: 0 auto;
  }
  .racism .context-page.title header .image-metadata img {
    width: 65%;
    padding: 0 10px;
    max-width: 650px;
  }
  .racism .noflex .aside-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
  }
  .racism .aside-right blockquote {
    margin-top: 0;
  }
  .racism .aside-right blockquote:after {
    right: -10%;
    width: 120%;
  }
  .racism .aside-left blockquote {
    width: 62%;
  }
  .racism blockquote.breakout {
    background: unset;
  }
  .racism blockquote.breakout:after {
    background: unset;
  }
  .racism .aside-left .breakout {
    border-right: 4px solid #fff200;
    border-left: 4px solid #fff200;
    padding: 0 2rem 0 4rem;
  }
  .racism .aside-left .breakout:before {
    top: -1.25rem;
    left: 0.75rem;
  }
  .racism .main .breakout {
    border-right: 4px solid #fff200;
    border-left: 4px solid #fff200;
    padding: 0 2rem 0 4rem;
    background: unset;
  }
  .racism .main .breakout:before {
    top: -1.25rem;
    left: 0.75rem;
  }
  .racism .main .breakout:after {
    background: unset;
  }
  .racism .aside-right .breakout:after {
    border-left: 4px solid #fff200;
  }
  .racism .col-md-6 {
    max-width: 50%;
  }
  .racism p,
.racism blockquote {
    orphans: 2;
    widows: 2;
  }
  .racism .panel-colour,
.racism blockquote,
.racism .essential-question {
    page-break-inside: avoid;
  }
  .racism .essential-question {
    padding: 1rem 4rem 1rem 2.5rem;
    margin: 1.5rem 0 1.5rem 1rem;
    max-width: 60%;
  }
  .racism .essential-question:before {
    width: 3.5rem;
    height: 3.5rem;
    top: 50%;
    left: -1.75rem;
    transform: translateY(-50%);
    font-size: 2.9rem;
    line-height: 3.3rem;
  }
  .racism .opener-page .main .l4 {
    padding-top: 0.75rem;
  }
  .racism .opener-page .main .l4:before {
    top: 0;
  }
  .racism ul > li:before {
    top: 0.6rem;
  }
  .racism .panel-colour ul li:before {
    top: 0.4rem;
  }
  .racism .case-study {
    background: white;
    border-top: 6px solid #6f3799;
    border-bottom: 10px solid #6f3799;
  }
  .racism .case-study h2 {
    color: #6f3799;
    margin-bottom: 0;
  }
  .racism .case-study h2:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 100 100' xml:space='preserve'%3E%3Cstyle%3E.st0%7Bfill:%236f3799%7D%3C/style%3E%3Cpath d='M18.9 38.6h16v3.3h-16zM19.2 47.9h16v3.3h-16zM19.2 57.3h16v3.3h-16zM19.2 66.7h38.5V70H19.2zM19.2 76h38.5v3.3H19.2z' class='st0'/%3E%3Cpath d='M91.9 78.8L81.3 63.2c-.7-1-1.8-1.6-3-1.6l-3.7-5.5a19.5 19.5 0 00-5.2-32.8v-9.8c0-1-.8-2-1.9-2H25.8a2 2 0 00-1.4.7L8.7 29a2 2 0 00-.5 1.3v56.3c0 1 .8 1.9 2 1.9h57.3c1 0 2-.9 2-2V59.5l2-1 3.6 5.4c-.5 1-.4 2.4.3 3.4L86 82.8a3.6 3.6 0 005 1c1.6-1.1 2-3.4 1-5zM77.6 41.3a15.7 15.7 0 11-31.5 0 15.7 15.7 0 0131.5 0zM25 17.3v11.4H14.3L25 17.2zm40.6 67.3H12V32h14.6c1 0 1.7-.8 1.7-1.7V15.4h37.3v6.7a19.6 19.6 0 100 38.4v24.1z' class='st0'/%3E%3C/svg%3E");
  }
  .racism .case-study .file-bg:before {
    padding: 0;
    background: unset;
    left: calc(2vw + 10px + 5.22727273rem);
    top: -0.75rem;
  }
  .racism .courageous-conversations {
    background: white;
    border-top: 6px solid #127e99;
    border-bottom: 10px solid #127e99;
  }
  .racism .courageous-conversations h2 {
    color: #127e99;
    margin-bottom: 0;
  }
  .racism .courageous-conversations h2:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23127e99' d='M86.8 37.3H60.3V17.5c0-2.8-2.3-5.1-5.1-5.1H13.3a5.1 5.1 0 00-5.1 5v29.8c0 2.7 2.2 5 4.9 5.1l-3.4 8.4c-.4 1 .5 2 1.5 2l.7-.1 19.7-10.3h8.2v19.8c0 2.9 2.3 5.2 5.1 5.2h23.6l19.8 10.2c.2.2.5.2.7.2 1 0 1.9-1 1.4-2l-3.3-8.5a5.1 5.1 0 004.9-5V42.3c0-2.8-2.3-5-5.2-5zM31.6 48h-1l-1 .5L16.8 55l.4-1 2.3-5.9-6.2-.2a.7.7 0 01-.7-.7V17.5c0-.4.3-.7.7-.7h41.9c.4 0 .7.3.7.7v19.8h-11a5.1 5.1 0 00-5 5.2v5.4h-8.3zM56 41.8v5.4c0 .3-.3.7-.7.7h-11v-5.4c0-.4.3-.7.7-.7h11zM87.5 72c0 .4-.3.7-.6.7l-6.3.3L83 79l.4 1.1-12.8-6.7-1-.5H45a.7.7 0 01-.7-.7V52.3h11c2.8 0 5.1-2.3 5.1-5.1v-5.4h26.5c.4 0 .7.3.7.6v29.7z'/%3E%3C/svg%3E");
  }
  .racism .courageous-conversations .file-bg:before {
    padding: 0;
    background: unset;
    left: calc(2vw + 10px + 5.22727273rem);
    top: -0.75rem;
  }
  .racism .panel-colour {
    background-color: unset;
  }
  .racism .essential-question {
    border: 4px solid #fff200;
    background: unset;
  }
  .racism .context-page > footer,
.racism .opener-page > footer {
    position: relative;
    margin-top: 4rem;
  }
  .racism .glossary {
    display: block;
  }
  .racism .glossary-item {
    display: block;
    padding: 1rem 0;
  }
  .racism .glossary-item:not(:first-child) {
    border-top: 1px solid black;
  }
  .racism .glossary-item h6,
.racism .glossary-item p {
    font-size: 12px;
    margin: 0;
    padding-top: 0;
  }
  .racism .glossary-item h6 {
    font-weight: 700;
    margin: 0;
    padding-bottom: 0;
  }
}
.racism .rtable table.colhead {
  border: 0;
  color: black;
  border-top: 3px solid #127E99;
  border-left: 3px solid #127E99;
}
.racism .rtable table.colhead thead {
  border-bottom: 0;
}
.racism .rtable table.colhead tbody {
  border-top: 0;
}
.racism .rtable table.colhead tbody td {
  border-bottom: 3px solid #127E99;
  border-right: 3px solid #127E99;
  vertical-align: middle;
}
.racism .rtable table.colhead tbody td:last-child {
  border-right: 3px solid #127E99;
}
.racism .rtable table.colhead tbody td p {
  font-size: 0.9rem;
}
.racism .rtable table.colhead tbody td p:first-child {
  margin-top: 0;
  padding-top: 0;
}
.racism .rtable table.colhead tbody td ul li:before {
  top: 0.75rem;
}
.racism .rtable table.colhead tbody td.align-center {
  text-align: center;
}
.racism .rtable table.colhead tbody td.top-align {
  vertical-align: top;
}
.racism .rtable table.colhead tbody tr:nth-child(odd) td {
  background-color: white;
}
.racism .rtable table.colhead tbody tr:nth-child(even) td {
  background-color: white;
}
.racism .rtable table.colhead th {
  border-bottom: 3px solid #127E99;
  border-right: 3px solid #127E99;
  font-weight: unset;
  background-color: #e3f7fa;
  text-align: center;
}
.racism .rtable table.rowhead {
  border: 0;
  color: black;
  border-top: 3px solid #127E99;
  border-left: 3px solid #127E99;
}
.racism .rtable table.rowhead thead {
  border-bottom: 0;
}
.racism .rtable table.rowhead tbody {
  border-top: 0;
}
.racism .rtable table.rowhead tbody td {
  border-bottom: 3px solid #127E99;
  border-right: 3px solid #127E99;
  vertical-align: middle;
}
.racism .rtable table.rowhead tbody td:last-child {
  border-right: 3px solid #127E99;
}
.racism .rtable table.rowhead tbody td p {
  font-size: 0.9rem;
}
.racism .rtable table.rowhead tbody td p:first-child {
  margin-top: 0;
  padding-top: 0;
}
.racism .rtable table.rowhead tbody td ul li:before {
  top: 0.75rem;
}
.racism .rtable table.rowhead tbody td.align-center {
  text-align: center;
}
.racism .rtable table.rowhead tbody td.top-align {
  vertical-align: top;
}
.racism .rtable table.rowhead tbody tr:nth-child(odd) td {
  background-color: white;
}
.racism .rtable table.rowhead tbody tr:nth-child(even) td {
  background-color: white;
}
.racism .rtable table.rowhead th {
  border-bottom: 3px solid #127E99;
  border-right: 3px solid #127E99;
  font-weight: unset;
  background-color: #e3f7fa;
}
.racism .rtable td {
  border: 0;
  color: black;
}
.racism .rtable th {
  border: 0;
  color: black;
}
.racism .rtable table.colhead.half-column {
  width: 50%;
}
.racism .rtable table.rowhead.half-column {
  width: 50%;
}
.racism .rtable td.half-column {
  width: 50%;
}
.racism .rtable th.half-column {
  width: 50%;
}
.racism .rtable table.colhead.onethird-column {
  width: 33.33333333%;
}
.racism .rtable table.rowhead.onethird-column {
  width: 33.33333333%;
}
.racism .rtable td.onethird-column {
  width: 33.33333333%;
}
.racism .rtable th.onethird-column {
  width: 33.33333333%;
}
.racism .rtable table.colhead.twothird-column {
  width: 66.66666666%;
}
.racism .rtable table.rowhead.twothird-column {
  width: 66.66666666%;
}
.racism .rtable td.twothird-column {
  width: 66.66666666%;
}
.racism .rtable th.twothird-column {
  width: 66.66666666%;
}
.racism .rtable strong {
  font-weight: 400;
  background: #fff200;
}
.racism .standards-tool-prompt p {
  margin: 0 auto !important;
}
.racism .standards-tool-prompt .standards-prompt-bottom-bar {
  font-family: "Myriad", "Myriad Pro Light", "Myriad 300", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.36364em;
  text-align: left;
  background: #fcf0d4;
  padding: 16px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.racism .standards-tool-prompt .standards-prompt-bottom-bar p {
  color: #d58d22;
  margin: 0 auto !important;
  padding: 0 !important;
}
.racism .standards-tool-prompt .standards-prompt-bottom-bar p i {
  font-style: italic;
  color: #d58d22;
}
.racism .standards-tool-prompt .standards-prompt-bottom-bar p b {
  font-weight: 400;
  color: #d58d22;
}
.racism .standards-tool-prompt-less-rev {
  margin-bottom: -46px;
}
.racism .standards-tool-prompt-less-rev .standards-prompt-bottom-bar {
  background: #f0a91e;
  padding: 16px 0;
  margin-top: 30px;
  min-height: 78px;
}
.racism .standards-tool-prompt-less-rev h5 {
  font-family: "Myriad", "Myriad Pro Light", "Myriad 300", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 29px;
  line-height: 1.81818em;
  text-align: left;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  max-width: 620px;
}
@media screen and (max-width: 640px) {
  .racism .standards-tool-prompt-less-rev h5 {
    max-width: 560px;
  }
}
@media screen and (min-width: 642px) and (max-width: 876px) {
  .racism .standards-tool-prompt-less-rev h5 {
    padding-left: 0;
    padding-right: 0;
  }
}
.racism .standards-tool-prompt-less-rev p {
  margin: 0 auto;
  padding: 0 0 5px 0;
}
.racism .standards-tool-prompt-less-rev .centerblock {
  margin: 0 auto 0;
  text-align: left;
  max-width: 70%;
}
.racism .standards-tool {
  margin-bottom: -24px;
  width: auto;
  left: 0;
  /* min-width: 100% */
}
.racism .standards-tool .standards-active {
  height: 480px;
  width: 300px;
  right: 57px;
  position: fixed;
}
.racism button.standards-close-btn {
  position: relative;
  /*background: url("../modules/hmh.graphic_organizer/widgets/go/images/icons-standards-tool.png") no-repeat;*/
  height: 60px;
  width: 60px;
  float: right;
  margin-right: 8%;
  margin-top: -9%;
  right: 0px;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
  background-size: 100%;
  margin: 0 !important;
  padding: 0 !important;
  position: fixed;
  border: 3px solid black;
}
.racism button.standards-close-btn:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24);
}
.racism button.standards-close-btn:active {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}
.racism button.standards-close-btn.close {
  background-position: center;
  bottom: 262px !important;
}
.racism .standards-deactive {
  position: fixed;
  left: -3000px;
}
@media only screen and (min-width: 320px) and (max-width: 380px) {
  .racism .standards-close-btn {
    margin-right: 3%;
    margin-top: -22.5%;
  }
}
@media only screen and (min-width: 420px) {
  .racism .standards-close-btn {
    margin-right: 4%;
    margin-top: -15.5%;
  }
}
@media only screen and (min-width: 620px) {
  .racism .standards-close-btn {
    margin-right: 1.5%;
    margin-top: -11.2%;
  }
}
@media only screen and (min-width: 700px) {
  .racism .standards-close-btn {
    margin-right: 3%;
    margin-top: -10%;
  }
}
@media only screen and (min-width: 800px) {
  .racism .standards-close-btn {
    margin-right: 9%;
    margin-top: -8.7%;
  }
}
@media only screen and (min-width: 900px) {
  .racism .standards-close-btn {
    margin-right: 15%;
    margin-top: -7.5%;
  }
}
.racism .standards-tool-prompt p,
.racism .standards-tool-prompt h5 {
  padding-left: 15px;
  padding-right: 15px;
}
.racism section.lti-tool iframe {
  min-height: 600px;
  height: 800px;
}
.racism section.lti-tool {
  min-height: 800px;
}

/*# sourceMappingURL=custom_racism.css.map */
