// Dropcap

.source--dropcap:first-letter {
  float: left;
  font-family: $font-sans;
  font-size: calc(var(--base-lheight) * 2.25);
  line-height: calc(var(--base-lheight) * 2);

  padding-right: var(--quart-lheight);
  font-weight: 700;
}

// Lists

ul,
ol {
  ul,
  ol {
    margin-left: 0;
    margin-right: 0;
    @include margin-below(0.5);

    ol,
    ol.list-style--roman {
      li {
        list-style-type: lower-roman;
      }
    }

    ul,
    ul.list-style--square {
      li {
        list-style-type: square;

        &::marker {
          color: transparent;
        }

        &:before {
          background: $text-medium;
          border-radius: 0;
        }
      }
    }
  }

  ol,
  ol.list-style--alpha {
    > li {
      list-style-type: lower-alpha;
    }
  }

  ul,
  ul.list-style--circle {
    > li {
      list-style-type: circle;

      &:before {
        background: unset;
        content: "";
      }
    }
  }
}

ol.list-style--decimal {
  > li {
    list-style-type: decimal;
  }
}

ol.list-style--alpha {
  > li {
    list-style-type: lower-alpha;
  }
}

ol.list-style--roman {
  > li {
    list-style-type: lower-roman;
  }
}

ul.list-style--disc {
  > li {
    list-style-type: disc;

    &:before {
      background: $text-medium;
      border-radius: 50%;
    }
  }
}

ul.list-style--circle {
  > li {
    list-style-type: circle;

    &:before {
      border-radius: 50%;
      background: unset;
      content: "";
    }
  }
}

ul.list-style--square {
  > li {
    list-style-type: square;

    &:before {
      background: $text-medium;
      border-radius: 0;
    }
  }
}

ul {
  list-style-type: disc;

  & > li {
    position: relative;
    padding-left: calc((var(--base-fontsize) + var(--base-lheight)) / 2);

    &:before {
      position: absolute;
      top: calc(var(--base-lheight) / 2 - var(--base-fontsize) / 4);
      left: 0;
      width: calc(var(--base-fontsize) / 2);
      height: calc(var(--base-fontsize) / 2);
      background: $text-medium;
      border-radius: 50%;
      content: "";
      border: $border-width solid $text-medium;
      box-sizing: border-box;
    }

    &::marker {
      color: transparent;
    }
  }
}

ol {
  list-style-type: decimal;

  & > li {
    position: relative;
    padding-left: calc(var(--base-lheight) / 2);
    margin-left: calc(2ch * 1);

    &::marker {
      font-weight: 700;
      color: $text-medium;
    }
  }
}

// Blockquotes

blockquote {
  @include para-size($body-lg);
  padding-left: calc(var(--base-lheight) - #{$border-width});
  border-left: $border-width solid color-code($gray-c10);
  @include margin-above(0);
  @include margin-below(0.5);
}

// Text Columns

.source--dual-column {
  @include respond-md {
    columns: 2;
  }
}

.source--triple-column {
  @include respond-lg {
    columns: 3;
  }
}

.source--dual-column,
.source--triple-column {
  column-gap: var(--base-lheight);
}

// Asides

aside {
  padding: var(--half-lheight);
  background: color-code($gray-c5);

  * {
    margin-left: 0;
    margin-right: 0;
  }

  p {
    @include para-size($body-sm);
  }

  *:first-child {
    margin-top: 0;
  }
}

// Wraparound Asides

.source__wraparound {
  @include margin-above(0.5);

  aside {
    background: color-code($gray-c5);
    // width: calc(var(--col-width) * #{$colspan-secondary} - var(--base-lheight));
    margin-left: var(--base-lheight);
    margin-right: var(--base-lheight);
    @include margin-below(0.5);

    & + * {
      @include margin-above(0);
    }
  }

  &--right {
    @extend .source__wraparound;

    aside {
      float: right;
      margin-right: 0;
    }
  }

  &--left {
    @extend .source__wraparound;

    aside {
      float: left;
      margin-left: 0;
    }
  }
}

// Content Sections

article {
  @include margin-above(1);

  * {
    margin-left: 0;
    margin-right: 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

// Content Panels

.source__panel {
  padding: calc(var(--half-lheight) - #{$border-width});
  border-radius: $border-radius;

  &--border {
    @extend .source__panel;
    border: $border-width solid black;
  }
}

// Page Section

.source__page-section {
  @include margin-above(1);
  @include padding-above(1);
  @include padding-below(1);
}

// Header

header {
  @include padding-below(1);
}

.source__page-section,
header {
  position: relative;

  &:before {
    content: "";
    z-index: -1;
    width: calc(100% + 2 * var(--gutter-width));
    height: 100%;
    left: calc(-1 * var(--gutter-width));
    top: 0;
    background: color-code($gray-c5);
    position: absolute;
  }
}

//Divider

hr {
  border: 0;
  height: $border-width;
  background-color: rgba(0, 0, 0, 0.66);
  margin: calc(var(--half-lheight) - 1px) var(--base-lheight) var(--half-lheight);
}

// Multi-Img Pattern

.source__multiimg {
    
  @include respond-lg {
      grid-column: span 10;
  }
  
  ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
      column-gap: calc(var(--base-lheight) / 2);
      row-gap: calc(var(--base-lheight) / 2);
  
      @include respond-md {
          grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
      }
      
      @include respond-lg {
          grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
      }
      
      &> li {
          grid-column: span 1;
          padding-left: 0;
          
          &:before {
              content: unset;
          }
      }
      
      &+ figcaption {
          border-bottom: 0.0625rem solid $text-medium;
          padding: var(--quart-lheight) 0;
          @include respond-md {
              max-width: calc(var(--col-width) * 10 - var(--base-lheight));
          }
          @include respond-lg {
              max-width: calc(var(--col-width) * 6 - var(--base-lheight));
          }
      }
  }
}


// Venn Diagram

.source__venn-diagram {    
  @include respond-lg {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: var(--half-lheight) max-content var(--half-lheight);
  }

  &:before {
      grid-column: 1 / span 12;
      grid-row: 1 / span 2;
      background: color-code($cool-gray-c10);
      content: '';
      z-index: -1;
      border-radius: var(--base-lheight);
      width: calc(100% + var(--half-lheight));
        transform: translateX(calc(var(--quart-lheight) * -1));

      @include respond-md {
        grid-column: 2 / span 10;
        transform: translateX(calc(var(--half-lheight) * -1));
      }
      
      @include respond-lg {
          width: 100%;
          grid-column: 1 / span 8;
          transform: unset;
      }
  }

  &:after {
      grid-column: 1 / span 12;
      grid-row: 2 / span 2;
      background: color-code($warm-gray-c10);
      content: '';
    z-index: -1;
        mix-blend-mode: multiply;
      border-radius: var(--base-lheight);
      width: calc(100% + var(--half-lheight));
        transform: translateX(calc(var(--quart-lheight) * -1));

      @include respond-md {
        grid-column: 2 / span 10;
        transform: unset;

      }
      @include respond-lg {
          width: 100%;
        grid-column: span 8 / 13;
      }

  }

  div {
      grid-column: 1 / span 12; 
      
      padding: var(--half-lheight) 0;
      
        &:first-child {
          grid-row: 1;
        }
        &:nth-child(2) {
          grid-row: 2;
        }
        &:last-child {
          grid-row: 3;
        }
        
        @include respond-md {
            grid-column: 2 / span 10;
    
            &:first-child {
              transform: translateX(calc(var(--quart-lheight) * -1));
            }
            &:last-child {
            transform: translateX(var(--quart-lheight));
            }
        }
        
      @include respond-lg {
          grid-column-end: span 4;
          grid-row: 2;
          margin: var(--half-lheight) 0;
          padding: 0;
          
        &:first-child {
            grid-row: 2;
          grid-column-start: 1;
          transform: unset;
        }
        &:nth-child(2) {
        grid-row: 2;
          grid-column-start: 5;
        }
        &:last-child {
            grid-row: 2;
          grid-column-start: 9;
        transform: unset;
        }
      }

      position: relative;
      

      
      &:empty {
          background: color-code($red-c10);
          min-height: 200px;
          
          &:before {
              position: absolute;
                content: 'Add interaction';
                font-weight: 700;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
          }
      }
  }
}


// Timeline

.source__timeline {    
  width: unset;
  h4 {
      padding: var(--quart-lheight) var(--half-lheight);
      border: $border-width solid $text-medium;
      width: fit-content;
      border-radius: $border-radius;
      position: relative;
      background: white;
      
      @include respond-lg {
          margin: 0 auto;
      }
      
      &:before, &:after {
          content: '';
          position: absolute;
          background: $text-medium;
          top: 50%;
          transform: translateY(-50%);
          
          @include respond-lg {
              content: unset;
          }
      }
      
      &:before {
          right: 100%;
          height: $border-width;
          width: var(--half-lheight);
      }
      
      &:after {
          width: var(--half-lheight);
          height: var(--half-lheight);
          border-radius: 50%;
          border: $border-width solid white;
          left: calc(var(--quart-lheight) * -1 - var(--half-lheight));
          box-sizing: border-box;
      }
  }
  
  li {
      list-style: none;
      margin-top: var(--base-lheight);
      
      &:before {
          content: unset;
      }
  }
  
  > ol {
      position: relative;
      // overscroll-behavior-y: contain;
      // scroll-snap-type: y mandatory;
      
      @include respond-md {
          margin: var(--base-lheight) var(--half-lheight) 0;
      }
      
      @include respond-lg {
          grid-column: 1 / span 12;
          margin: var(--base-lheight) 0 0;
          // display: grid;
          // grid-template-columns: repeat(12, 1fr);
      }
      
      &::before {
          background: $text-medium;
          bottom: 0;
          content: "";
          // height: calc(100% - #{$timeline-spacer} * 2 - #{$border-width} * 2);
          left: 0;
          position: absolute;
          top: 0;
          width: $border-width;
          
          @include respond-lg {
              left: calc(50% - #{$border-width} / 2);
          }
      }
      
      > li {
          padding-left: var(--half-lheight);
          margin-left: 0;
          
          @include respond-lg {
              padding-left: 0;
          }
          
          &:first-child, &:last-child {
              padding-left: 0;
              margin-top: 0;
              
              h4 {
                  color: white;
                  border-radius: 0 $border-radius $border-radius 0;
                  background: $text-medium;
                  
                  @include respond-lg {
                      border-radius: $border-radius;
                  }
                  
                  &:before, &:after {
                      content: unset;
                  }
              }
          }
          
          &:last-child {
              margin-top: var(--base-lheight);
          }
          
          > ol {
              margin: 0;

              @include respond-lg {
                  display: grid;
                  grid-template-columns: repeat(12, 1fr);
              }
              > li {
                  padding-left: 0;
                  margin-top: var(--quart-lheight);
                  
                  &:not(.left):not(.right) {
                      grid-column: 1 / span 12;

                      > ol {
                          @include respond-lg {
                              grid-column: 1 / span 12;
                              display: grid;
                              grid-template-columns: repeat(12, 1fr);
                          }
                          
                          .left, .right {
                              align-self: start;
                          }
                      }
                  }
              }
          }
      }
  }
  
  .left, .right {
      padding: var(--quart-lheight) var(--half-lheight);
      border: $border-width solid $text-medium;
      border-radius: $border-radius;
      background: white;
      margin-top: var(--quart-lheight);
      position: relative;
      margin-left: 0;
      
      @include respond-lg {
          margin: var(--quart-lheight) var(--half-lheight) 0;
      }
      
      &:before {
          position: absolute;
          top: var(--base-lheight);
          width: calc(var(--half-lheight) + var(--col-width));
          height: $border-width;
          background: $text-medium;
          
          @include respond-lg {
              content: '';
          }
      }
      
      &:after {
          position: absolute;
          top: calc(var(--half-lheight) + var(--quart-lheight));
          width: var(--half-lheight);
          height: var(--half-lheight);
          border-radius: 50%;
          background: $text-medium;
          border: $border-width solid white;
          
          @include respond-lg {
              content: '';
          }
      }
  }
  
  .left {
      @include respond-lg {
          grid-column: 1 / span 5;
          align-self: start;
      }
      
      &:before {
          left: 100%;
      }
      
      &:after {
          right: calc((var(--col-width) + var(--half-lheight) + var(--quart-lheight) + #{$border-width}) * -1);
      }
  }
  
  .right {
      @include respond-lg {
          grid-column: 8 / span 5;
          align-self: end;
      }
      
      &:before {
          right: 100%;
          left: unset;
      }
      
      &:after {
          left: calc((var(--col-width) + var(--half-lheight) + var(--quart-lheight) + #{$border-width}) * -1);
      }
  }
}


  

// Tables


%table-caption {
  @include head-size($heading-sm);
  background-color: unset;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.source__tablecontainer {
  height: min-content;
  overflow: auto;
  @include margin-above(1);

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: calc(var(--base-fontsize) / 2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: calc(var(--base-fontsize) / 4);
    border: $border-width solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header,
  p.caption {
    font-weight: 700;
  }

  p.caption,
  caption {
    text-align: left;
    margin-bottom: var(--half-lheight);
  }

  caption {
    @extend %table-caption;
  }

  .numeric {
    text-align: right;
    font-family: "Source Code Pro";
  }
  
  ul {
      margin-top: 0;
  }

  & > ol {
    margin-top: 0;
    border: .125rem solid color-code($gray-c30);
    border-radius: .625rem;
    overflow: hidden;
    
    & > li {
      background-color: color-code($gray-c5);
      padding-left: 0;

      &:nth-of-type(odd) {
        background-color: color-code($gray-c10);
      }
      
      &:not(:first-child) {
          border-top: .125rem solid color-code($gray-c20);
          margin-top: var(--half-lheight);
        }
      
      &:not(:last-child) {
         border-bottom: .125rem solid color-code($gray-c20);
        }
        
      &::before {
            content: unset;
        }

      & > ul {
        margin: 0;
        padding: var(--half-lheight) 0;

        > *,
        > li {
          padding: 0 var(--half-lheight);
        }

        & > li {
          display: flex;

          ul {

            li {
              &::before {
                border-radius: 50%;
              }
            }
          }

          &:before {
            content: unset;
          }

          li {
            padding-left: var(--base-fontsize);
          }
        }
      }
    }
    
    span {
      margin-right: var(--half-lheight);
    }

    *:first-child {
      margin-top: 0;
    }

    p {
      @include para-size($body-sm);
    }
  }
  
  .col-row-headers {
      > li {
          > ul {
              padding-top: 0;
              
              > li {
                  &:first-of-type {
                      background-color: color-code($gray-c40);
                      color: #fff;
                      font-weight: 700;
                      margin-bottom: var(--half-lheight);
                      padding: var(--quart-lheight) var(--half-lheight);
                  }
              }
          }
      }
  }
  
  table {
    @include para-size($body-sm);
    background-color: transparent;
    border-collapse: separate;
    min-width: 100%;

    tbody {
      background-color: #fff;

      td,
      th {
        border: 0.0625rem solid color-code($gray-c15);
        padding: var(--quart-lheight) var(--half-lheight) var(--quart-lheight)
          var(--half-lheight);
        text-indent: 0;
        vertical-align: text-top;

        &:first-child {
          border-left: 0.125rem solid color-code($gray-c15);
        }

        &:last-child {
          border-right: 0.125rem solid color-code($gray-c15);
        }

        *:first-child {
          margin-top: 0;
        }
      }

      th {
        background-color: color-code($gray-c5);
        font-weight: 700;
        text-align: left;

        &[scope="col"] {
          background-color: color-code($gray-c5);
          border-left: 0.0625rem solid white;
          border-right: 0.0625rem solid white;

          &:first-child {
            border-left: 0.125rem solid color-code($gray-c15);
          }
          &:last-child {
            border-right: 0.125rem solid color-code($gray-c15);
          }
        }

       
      }

      tr {
        &:first-of-type {
          td,
          th {
            border-top-width: 0.125rem;

            &:first-child {
              border-top-left-radius: 0.625rem;
            }
            &:last-child {
              border-top-right-radius: 0.625rem;
            }
          }
        }

        &:last-of-type {
          td,
          th {
            border-bottom-width: 0.125rem;

            &:first-child {
              border-bottom-left-radius: 0.625rem;
            }
            &:last-child {
              border-bottom-right-radius: 0.625rem;
            }
          }
        }
      }
    }
    
    tr {
      &:first-of-type {
        th {
          vertical-align: bottom;
        }
      }
    }

    td {
      &::before {
        display: none;
      }
    }
  }

  @include respond-max-width($bp-md - 1) {
    table {
      display: flex;
      flex-direction: column;

      &.table-list {
        th {
          font-weight: 700;
          text-align: left;
          text-indent: unset;

          &[scope="row"] {
            background-color: color-code($gray-c10);
            color: #000;
          }
        }

        tbody {

          td,
          th {
            border-color: color-code($gray-c15);
            &:first-child {
                border-left: 0.125rem solid color-code($gray-c20);
            }
            &:last-child {
                border-right: 0.125rem solid color-code($gray-c20);
            }
          }  
        }

        td {
          background-color: white;
          border-color: color-code($gray-c15);

          &::before {
            content: "Title: ";
            display: inline;
            font-weight: bold;
          }

          &:nth-of-type(2) {
            &::before {
              font-style: normal;
            }
          }

          &:first-child {
            border-bottom: 0;
          }
          &:last-child {
            border-top: 0;
          }
        }

        td:not(:first-child):not(:last-child) {
          border-top: 0;
          border-bottom: 0;
        }
      }

      tbody {
        td,
        th {
          border-left: 0;
          border-right: 0;
        }
      }
    }

    tr,
    td {
      display: block;
    }

    tr {
      padding: var(--half-lheight) 0 0;
      
      &:first-of-type {
             display: none;
      }
      
      &:last-of-type {
          td {
              &:last-of-type {
                   border-bottom: 0;
              }
          }
      }
    }

    caption {
      background-color: rgba(0, 0, 0, 0.35);
      color: #fff;
    }

    .col-row-headers,
    .col-headers {
      caption {
        background-color: #fff;
        text-align: left;
        color: #000;
      }
    }

    td,
    th {
      display: grid;
      grid-template-columns: 4em auto;
      grid-gap: 1em 0.5em;
    }

    th {
      text-align: center;
      grid-template-columns: 1fr;
    }
  }

  @include respond-md {
    table {
      tr:not(:first-of-type) {
        th {
          &:hover {
            background: color-code($blue-c5);

            & ~ td {
              background: color-code($blue-c5);
            }
          }
        }
      }
    }
  }
}

// Buttons

.source__button {
  display: inline-block;
  width: fit-content;
  padding: var(--quart-lheight) var(--half-lheight);
  border: $border-width solid $action-mid;
  border-radius: $border-radius;
  @include para-size($body-sm);
  font-weight: 600;
  box-shadow: $shadow-default;
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: $shadow-hover;
  }

  &:active {
    box-shadow: $shadow-active;
  }
}

// Audio / Visual

figure {
  @include margin-above(1);
}

img,
video {
  width: 100%;
  max-width: 100%;
  display: block;

  + figcaption {
    background: rgba(0, 0, 0, 0.12);
    padding: var(--half-lheight);
  }
}

figcaption {
  font-family: $font-sans;
  @include para-size($caption);

  p {
    font-family: $font-sans;
    @include para-size($caption);
  }

  *:first-child {
    margin-top: 0;
  }
}

audio {
  width: 100%;
}

// Footer

body > footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: var(--quart-lheight);
  background-color: rgba(0, 0, 0, 0.66);
  transform: translateX(-1rem);

  @include respond-md {
    transform: translateX(calc(-1 * var(--gutter-width)));
  }
}

// Icons

.source__icon {
  @include source__icon;

  &--xs {
    @include source__icon--xs;

    &--unboxed {
      @include source__icon--xs--unboxed;
    }
  }

  &--sm {
    @include source__icon--sm;

    &--unboxed {
      @include source__icon--sm--unboxed;
    }
  }

  &--md {
    @include source__icon--md;

    &--unboxed {
      @include source__icon--md--unboxed;
    }
  }

  &--lg {
    @include source__icon--lg;

    &--unboxed {
      @include source__icon--lg--unboxed;
    }
  }

  &--xl {
    @include source__icon--xl;

    &--unboxed {
      @include source__icon--xl--unboxed;
    }
  }
}

// Interactions

section:not(.standards-tool) {
  overflow: hidden;
}

iframe {
  width: 100vw;
}


// Details / Summary

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  color: transparent;
}


// Accordion

.source__accordion {
  list-style: none;
  
  > li {
    padding-left: 0;
    margin-top: $border-width;
    &:before {
      content: none;
    }
  }

  details {
    margin-top: 0;

    & > * {
      padding-left: var(--half-lheight);
      padding-right: var(--half-lheight);
    }

    &[open] {
      padding-bottom: var(--quart-lheight);

      summary {
        border-radius: $border-radius $border-radius 0 0;

        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  summary {
    padding-top: var(--quart-lheight);
    padding-bottom: var(--quart-lheight);
    min-height: calc(var(---ui-button) + var(--half-lheight));
    border-radius: $border-radius;

    @include para-size($body-lg);
    list-style: none;
    cursor: pointer;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    *,
    & + * {
      margin-top: 0;
    }

    &:after {
      width: var(--ui-button);
      height: var(--ui-button);
      content: "";
      margin-left: var(--half-lheight);
      border-radius: 50%;
      border: $border-width solid $action-mid;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h20v20H0z'/%3E%3Cpath fill='%230072db' fill-rule='nonzero' d='M16 5.8c.5-.4 1.2-.4 1.7 0 .4.5.4 1.2 0 1.6l-6.9 6.8c-.4.4-1.2.4-1.6 0L2.3 7.4C2 7 2 6.3 2.3 5.8c.5-.4 1.2-.4 1.7 0l6 6 6-6z'/%3E%3C/g%3E%3C/svg%3E");
      background-size: var(--ui-icon) var(--ui-icon);
      background-position: center center;
      background-repeat: no-repeat;
      transition: transform 0.2s ease-in-out;
      flex-shrink: 0;
    }

    &:before {
      width: 100%;
      height: 100%;
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      border-radius: $border-radius;
      box-shadow: $shadow-default;
      z-index: -1;
      transition: box-shadow 0.1s ease-in-out;
    }

    &:hover {
      &:before {
        box-shadow: $shadow-hover;
      }
    }

    &:active {
      &:before {
        box-shadow: $shadow-active;
      }
    }
  }

  &--divider {
    summary {
      & + * {
        @include padding-above(0.25);
        position: relative;

        &:before {
          position: absolute;
          top: 0;
          left: var(--half-lheight);
          width: calc(100% - var(--base-lheight));
          height: $border-width;
          content: "";
          background: color-code($gray-c15);
        }
      }
    }
  }

  &--color {
    details {
      &[open] {
        summary {
          background: color-code($blue-c5);

          & + * {
            @include padding-above(0.25);
          }
        }
      }
    }
  }
}

// FLIP CARD

.source__flipcards, .source__reveal {
  --flipcard-height: calc(var(--base-lheight) * 10);
  list-style: none;
  grid-column: 1 / span 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 !important;

  li {
    padding: 0;
    @include margin-above(1);
    margin-left: 0;
    margin-right: 0;
    flex-basis: 100%;

    @include respond-md {
      flex-basis: calc(50% - var(--base-lheight));
      margin-left: var(--half-lheight);
      margin-right: var(--half-lheight);
    }

    @include respond-lg {
      flex-basis: calc(33.3333% - var(--base-lheight));
    }

    &:before {
      content: unset;
    }
  }

  details {
    height: var(--flipcard-height);
    perspective: 1000px;
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;

    &[open] {
      .source__flipcards__front {
        transform: rotateY(180deg);
        pointer-events: none;
      }

      .source__flipcards__back {
        animation: back-rotate 0.75s cubic-bezier(0.52, 0.02, 0.28, 1) forwards;
      }

      summary:before {
        transform: rotateY(360deg);
        transition: transform 0.75s cubic-bezier(0.52, 0.02, 0.28, 1),
          box-shadow 0.1s cubic-bezier(0.52, 0.02, 0.28, 1);
        pointer-events: none;
      }
    }
  }

  summary:focus {
    outline: 0;
  }
  
  summary:before {
      content: '';
  }

  .source__flipcards__front,
  .source__flipcards__back,
  summary:before {
    position: absolute;
    width: calc(var(--col-width) * 12);
    height: var(--flipcard-height);
    left: 0;
    padding: var(--half-lheight);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: $shadow-default;
    transition: transform 0.75s cubic-bezier(0.52, 0.02, 0.28, 1),
      box-shadow 0.1s cubic-bezier(0.52, 0.02, 0.28, 1);
    margin: 0;
    background: white;
    border-radius: $border-radius;

    @include respond-md {
      width: calc((var(--col-width) * 6) - var(--base-lheight));
    }

    @include respond-lg {
      width: calc((var(--col-width) * 4) - var(--base-lheight));
    }
  }

  .source__flipcards__front,
  summary:before {
    bottom: calc(var(--quart-lheight) * -1);
    left: calc(var(--quart-lheight) * -1);
  }

  summary {
    list-style: none;
    position: absolute;
    width: var(--ui-button);
    height: var(--ui-button);
    border-radius: calc(var(--ui-button) / 2);
    background: transparent;
    bottom: var(--quart-lheight);
    left: var(--quart-lheight);
    transform-style: preserve-3d;
    z-index: 100;
    cursor: pointer;

    &:before {
      // content: none;
    }

    &:hover {
      .source__flipcards__front,
      &:before {
        box-shadow: $shadow-hover;
      }
    }
  }

  summary:before {
    background: unset;
    transform: rotateY(180deg);
    transition: transform 0.75s cubic-bezier(0.52, 0.02, 0.28, 1);
  }

  .source__flipcards__front {
    overflow: hidden;

    &:before {
      content: "";
      width: var(--ui-button);
      height: var(--ui-button);
      border-radius: 50%;
      bottom: var(--quart-lheight);
      left: var(--quart-lheight);
      position: absolute;
      border: $border-width solid $action-mid;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 40 40'%3E%3Cpath fill='%230072db' fill-rule='evenodd' d='M20 10a2 2 0 1 0 0 4c3.6 0 6.7.8 9 2 2.1 1.4 3 2.8 3 4 0 1.2-.9 2.6-3 4a18.4 18.4 0 0 1-10.6 2l1.7-6.3-12 5 7.8 10.4 1.5-5.2 2.6.1c4.1 0 8-1 10.9-2.6 2.8-1.6 5.1-4.2 5.1-7.4s-2.3-5.8-5.1-7.4A22.3 22.3 0 0 0 20 10Z' clip-rule='evenodd'/%3E%3C/svg%3E");
      background-size: var(--ui-icon);
      background-position: center center;
      background-repeat: no-repeat;
      background-color: white;
      transform: scaleX(-1);
    }
  }

  .source__flipcards__back {
    overflow-y: auto;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    animation: unset;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: white;
    border-radius: $border-radius;
    padding: 0;
    display: grid;
    grid-template-rows: 0 1fr;
    box-shadow: unset;

    &:before {
      position: sticky;
      width: var(--ui-button);
      height: var(--ui-button);
      top: calc(100% - var(--quart-lheight) - var(--ui-button));
      left: var(--quart-lheight);
      margin: 0;
      box-sizing: border-box;
      display: block;
      content: "";
      border-radius: 50%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 40 40'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M20 10a2 2 0 1 0 0 4c3.6 0 6.7.8 9 2 2.1 1.4 3 2.8 3 4 0 1.2-.9 2.6-3 4a18.4 18.4 0 0 1-10.6 2l1.7-6.3-12 5 7.8 10.4 1.5-5.2 2.6.1c4.1 0 8-1 10.9-2.6 2.8-1.6 5.1-4.2 5.1-7.4s-2.3-5.8-5.1-7.4A22.3 22.3 0 0 0 20 10Z' clip-rule='evenodd'/%3E%3C/svg%3E");
      background-size: var(--ui-icon);
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $action-mid;
      z-index: 2;
      transform: scaleX(-1);
    }

    &:after {
      position: sticky;
      width: 100%;
      height: calc(var(--ui-button) + var(--half-lheight));
      bottom: 0;
      left: 0;
      margin: 0;
      box-sizing: border-box;
      z-index: 1;
      display: block;
      content: "";
      background: white;
    }

    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }

    * {
      @include para-size($body-sm);
    }
  }

  .source__flipcards__back > * {
    margin: 0 var(--half-lheight);
    grid-column: 1;

    &:first-child {
      margin-top: var(--half-lheight);
    }
  }

  // Four-wide cards

  &--four {
    li {
      flex-basis: 100%;
    }

    details {
      .source__flipcards__front,
      .source__flipcards__back,
      summary:before {
        width: calc(var(--col-width) * 12);
      }
    }

    @include respond-md {
      li {
        flex-basis: calc(50% - var(--base-lheight));
      }

      details {
        .source__flipcards__front,
        .source__flipcards__back,
        summary:before {
          width: calc((var(--col-width) * 6) - var(--base-lheight));
        }
      }
    }

    @include respond-lg {
      li {
        flex-basis: calc(33% - var(--base-lheight));
      }

      details {
        .source__flipcards__front,
        .source__flipcards__back,
        summary:before {
          width: calc((var(--col-width) * 4) - var(--base-lheight));
        }
      }
    }

    @include respond-xl {
      li {
        flex-basis: calc(25% - var(--base-lheight));
      }

      details {
        .source__flipcards__front,
        .source__flipcards__back,
        summary:before {
          width: calc((var(--col-width) * 3) - var(--base-lheight));
        }
      }
    }
  }

  // Add Counter to front of card

  &--counter {
    counter-reset: cards;

    li {
      counter-increment: cards;
    }

    details {
      .source__flipcards__front {
        &:after {
          position: absolute;
          width: var(--ui-button);
          height: var(--ui-button);
          bottom: var(--quart-lheight);
          left: var(--quart-lheight);
          border-radius: 50%;
          background: white;
          content: counter(cards);
          @include para-size($caption);
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  // Image and sentence / word variants

  .source__flipcards__front,
  .source__flipcards__back {
    &--image {
      height: var(--flipcard-height);
      align-items: center;

      & > figure {
        height: calc(var(--flipcard-height) - var(--base-lheight));
      }

      & > *:last-child {
        margin-bottom: var(--half-lheight);
      }

      &:after {
        content: unset;
      }

      figure {
        display: flex;
        flex-direction: column;
      }

      img {
        height: 100%;
        min-height: 1px;
        object-fit: contain;
      }

      &--edge {
        padding: 0;

        figure {
          &:first-child,
          &:last-child {
            margin: 0;
          }
          height: var(--flipcard-height);
        }
      }

      &--cover {
        img {
          object-fit: cover;
        }
      }
    }

    &--alphanumeric {
      align-items: center;
      @include para-size($heading-md);
      text-align: center;
      display: grid;

      p,
      i,
      u,
      b {
        @include para-size($heading-md);
        text-align: center;
      }
    }

    &--word {
      align-items: center;
      @include para-size($heading-sm);
      text-align: center;
      display: grid;

      p,
      i,
      u,
      b {
        @include para-size($heading-sm);
        text-align: center;
      }
    }
  }

  .source__flipcards__front {
    &--image {
      display: flex;
      flex-direction: column;

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

keyframes front-rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes back-rotate {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.source__flipcards--sequenced {    
  li:not(:has(details[open])):not(:has( ~ li details[open])) ~ li details {
      pointer-events: none;
      opacity: 0.5;
      filter: grayscale(1)
  }
}



.source__reveal {
  details {
      --flipcard-height: calc(var(--base-lheight) + var(--half-lheight));
      background: white;
      border-radius: $border-radius;
      box-shadow: $shadow-default;
      // overflow: hidden;
      transition: box-shadow 0.1s cubic-bezier(0.52, 0.02, 0.28, 1);
      
      &:hover {
          box-shadow: $shadow-hover;
      }
      
      &[open] {
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.15);
          
          summary {
              background-image: unset;
          }
          
          .source__flipcards__front, .source__flipcards__back {
              transition: unset;
              animation: unset;
          }
          
          .source__flipcards__back {
              transform: rotateY(0deg);
          }
      }
  }
  
  summary {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      left: unset;
      bottom: 0;
      right: 0;
      background: url(images/reveal.svg);
      background-size: calc(var(--half-lheight) + var(--quart-lheight));
      background-position: center center;
      background-repeat: no-repeat;
      
      &:hover {
          .source__flipcards__front, .source__flipcards__back {
              box-shadow: unset;
          }
      }
      
      &:before {
          content: unset;
      }
  }
  
  .source__flipcards__back-visuals {
      display: none;
  }
  
  .source__flipcards__front, .source__flipcards__back {
      background: unset;
      box-shadow: unset;
      transition: unset;
      animation: unset;
      padding: var(--quart-lheight) var(--half-lheight);
      
      &:before, &:after {
          content: unset;
      }
  }
  
  .source__flipcards__front {
      right: 0;
      bottom: 0;
      left: 0;
      padding: var(--quart-lheight) var(--half-lheight);
      opacity: 0;
      pointer-events: none
  }
  
  .source__flipcards__back {
      display: block;
      
      > *:first-child {
          margin-top: 0;
      }
      
      > * {
          margin: 0;
          @include para-size($body-md);
          text-align: center;
      }
  }
      
  &.source__flipcards--sequenced {
      li:not(:has(details[open])):not(:has( ~ li details[open])) ~ li details {
          pointer-events: none;
          opacity: 1;
          filter: unset;
          
          summary {
              background-image: unset;
          }
      }
  }
}

.s9-habitat-editing-enabled {  
  .source__reveal {
      details {
          &[open] {
              summary {
                  background-image: url(images/reveal.svg);
                  width: unset;
                  aspect-ratio: 1;
                  transform: translate(50%,50%);
                  background-color: white;
                  border-radius: 50%;
                  border: 2px solid $action-dark;
              }
          }
      }
  }
  
  .source__flipcards--deactivate {
      details {
          .source__flipcards__back-visuals {
              transition: unset;
          }
          
          &[open] {
              .source__flipcards__front {
                  transform: inherit;
              }
              
              .source__flipcards__back-visuals {
                  transform: inherit;
              }
              
              .source__flipcards__back {
                  animation: unset;
              }
          }
      }
  }
}