body,
.source__grid {
  & > *:not(.source--full-width):not(.source__grid):not(.source--no-marginlr):not(section) {
    @include respond-md {
      margin-left: var(--half-lheight);
      margin-right: var(--half-lheight);
    }
  }
}
.source--full-width {
  grid-column: 1 / 13;
  margin-left: 0;
  margin-right: 0;
}

.source--margintop {
  &-half {
    @include margin-above(0.5);
  }
  &-one {
    @include margin-above(1);
  }
  &-one-half {
    @include margin-above(1.5);
  }
  &-two {
    @include margin-above(2);
  }
  &-two-half {
    @include margin-above(2.5);
  }
}

.source--scroll-x {
  overflow-x: scroll;
}

.source--top-align {
  align-self: flex-start;
}

.source--center-align {
  align-self: center;
}

.source--bottom-align {
  align-self: flex-end;
}
