// Colours
@import "variables-baseline";
@import "source/colors";
//@import "interaction/colors";
//@import "interaction/variables";
//@import "interaction/default";
//@import "interaction/theme-colors";

.theme-fullwidth {
  .row,
  .main,
  .feature,
  .wide {
    max-width: 100%;
    width: 100%;
  }

  .main,
  .feature,
  .wide {
    padding: 0;
    margin: 0;
  }
}
