// Colours
@import "variables-baseline";
@import "source/colors";
@import "source/mixins";
@import "custom/grades/grade_68";
@import "source/variables";
@import "source/grid";

/* || TABLE OF CONTENTS 
1.0 STYLEGUIDE
    1.1 Color Palette
    1.2 Font Families

2.0 GLOBAL STYLES
    2.1 Anatomy
    
3.0 INTERACTION STYLES
    3.1 Hotspot
    3.2 Short Text
    3.3 Image Gallery
*/

/* || 0.0 SOURCE INTEGRATION */

/* || 0.1 Reset */

html {
  font-size: unset;
}

body {
  padding: 0;
  display: block;
}

.row,
.main,
.feature,
.wide {
  margin: 0;
  width: 100%;
  max-width: unset;
}

.main,
.feature,
.wide,
.fill {
  justify-content: unset;
}

.main, .feature, .wide {
    padding: 0;
}

/* || 0.2 Source Grid intergration */

#root {
  @extend .source__grid;
  grid-template-columns: unset;
  grid-auto-columns: calc((100vw - var(--gutter-width) * 2) / 12);
}

#wrapper {
  width: unset;
  margin: 0;
  grid-column: span 12;

  @include respond-md {
    margin: 0 var(--half-lheight);
  }

  @include respond-lg {
    margin: 0 var(--half-lheight);
  }
}

/* || 0.3 Control Buttons */

.audio-controls {
  order: 1;
}
.widget-controls {
  order: 2;
}

.audio-controls,
.widget-controls {
  width: unset;
  margin-bottom: 0;

  > section {
    padding: 0;
    display: flex;
  }
}

.controls-button-wrapper {
  width: unset;
  height: unset;

  button,
  button:enabled {
    height: calc(var(--half-lheight) + var(--quart-lheight));
    width: calc(var(--base-lheight) + var(--quart-lheight));
    border-radius: calc((var(--half-lheight) + var(--quart-lheight)) / 2);
    display: block;
    background-position: center center;
    margin-right: var(--quart-lheight);
    position: relative;
    border: 0.0625rem solid color-code($gray-c50);
    background-color: color-code($gray-c10);

    .focusable {
      width: unset;
      height: unset;
      right: 0;
      bottom: 0;
      border-radius: inherit;
    }

    &:hover {
      background-color: color-code($gray-c15);
    }
  }
}

:not(.rce) .theme-tool-gray .non-rce-audio-controls button,
:not(.rce) .theme-tool-gray .audio-controls button,
:not(.rce) .theme-tool-gray .widget-controls button {
  background-color: color-code($gray-c10);
}

.anatomy-main {
  flex-basis: 100%;
  order: 3;
  margin-top: var(--quart-lheight);
}

/* || 1.0 STYLEGUIDE */

/* || 1.1 Color Palette */

$primary-blue: #3644da;
$primary-dark-blue: #121f70;
$primary-medium-blue: #2a3789;
$primary-red: color-code($red-c50);

$accent-red: color-code($red-s30);
$accent-green: color-code($green-s20);
$accent-yellow: color-code($yellow-s15);
$accent-gold: color-code($golden-s25);
$accent-aqua: color-code($aqua-s20);
// $accent-blue: color-code($blue-c25);
$background-blue: color-code($blue-c10);
$background-red: color-code($red-s10);
$callout-green: color-code($green-c40);
$callout-orange: color-code($orange-s35);
$callout-cerise: color-code($cerise-s45);
$callout-turquoise: color-code($turquoise-s40);
$callout-purple: color-code($purple-c45);

$utility-blue: color-code($blue-c50);
$utility-dark-blue: color-code($blue-c70);

$gradient-opener-start: $primary-dark-blue;
$gradient-opener-end: $primary-blue;
$gradient-secondary-start: $primary-medium-blue;
$gradient-secondary-end: $primary-dark-blue;
$gradient-spark-start: $callout-orange;
$gradient-spark-end: $accent-gold;
// $gradient-utility-start: $utility-blue;
// $gradient-utility-end: $utility-dark-blue;

$grid-gray: color-code($cool-gray-c20);
$header-gray: color-code($cool-gray-c15);
$background-gray: color-code($cool-gray-c5);

/* || 1.2 Font Families */

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/egyptianslatelight.woff2") format("woff2"),
    url("fonts/egyptianslatelight.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/egyptianslatelightitalic.woff2") format("woff2"),
    url("fonts/egyptianslatelightitalic.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 350;
  font-style: normal;
  src: url("fonts/egyptianslatebook.woff2") format("woff2"),
    url("fonts/egyptianslatebook.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 350;
  font-style: italic;
  src: url("fonts/egyptianslatebookitalic.woff2") format("woff2"),
    url("fonts/egyptianslatebookitalic.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/egyptianslateregular.woff2") format("woff2"),
    url("fonts/egyptianslateregular.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/egyptianslateitalic.woff2") format("woff2"),
    url("fonts/egyptianslateitalic.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/egyptianslatemedium.woff2") format("woff2"),
    url("fonts/egyptianslatemedium.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 500;
  font-style: italic;
  src: url("fonts/egyptianslatemediumitalic.woff2") format("woff2"),
    url("fonts/egyptianslatemediumitalic.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/egyptianslatebold.woff2") format("woff2"),
    url("fonts/egyptianslatebold.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/egyptianslatebolditalic.woff2") format("woff2"),
    url("fonts/egyptianslatebolditalic.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/egyptianslateblack.woff2") format("woff2"),
    url("fonts/egyptianslateblack.woff") format("woff");
}

@font-face {
  font-family: "Egyptian Slate";
  font-weight: 900;
  font-style: italic;
  src: url("fonts/egyptianslateblackitalic.woff2") format("woff2"),
    url("fonts/egyptianslateblackitalic.woff") format("woff");
}

/* || 2.0 GLOBAL STYLES */

* {
  -webkit-font-smoothing: antialiased;
}

/* || 2.X Layouts and Col Spans */

#wrapper[class*="seven-col"] {
  @include respond-lg {
    grid-column: span 7;
  }
}

#wrapper[class*="ten-col"] {
  @include respond-md {
    grid-column: span 11;
  }
  @include respond-lg {
    grid-column: span 10;
  }
}

#wrapper[class*="eleven-col"] {
  @include respond-lg {
    grid-column: span 11;
  }
}

#wrapper[class*="review"] {
  @include respond-md {
    grid-column: span 12;
  }
  @include respond-lg {
    grid-column: span 10;
  }
}

/* || 2.1 Anatomy */

.row,
.main,
.feature,
.wide {
  width: 100%;
  max-width: 100%;
}

.anatomy-title {
  @include head-size($body-md);
  p {
    @include head-size($body-md);
  }
}
.interaction-area,
.anatomy-stem {
  @include para-size($body-md);
  p,
  textarea {
    @include para-size($body-md);
  }
}

.anatomy-feedback-canned-response,
.anatomy-feedback,
.ql-editor.ql-blank::before,
p.quill-source-editor {
  @include para-size($body-md);
}

.feedback-area,
.feedback-answer {
  @include para-size($body-md);

  button {
    @include head-size($body-sm);
  }
}

// blue header interactions
.hotspot-interaction,
.video-interaction {
  .anatomy-title {
    background: $accent-aqua;
    color: $utility-dark-blue;
    font-weight: 500;
    font-family: "Egyptian Slate", serif;
    @include head-size($heading-sm);

    p {
      @include head-size($heading-sm);
    }
  }
}

.short-text-interaction,
.mcq-mrq-interaction,
.video-interaction {
  .anatomy-main {
    filter: drop-shadow(0 0 6px $grid-gray);
  }
}

.short-text-interaction,
.mcq-mrq-interaction {
  .setup-area {
    .anatomy-title,
    .anatomy-stem {
      background: $background-gray;
      border-left: 2px solid $grid-gray;
      border-right: 2px solid $grid-gray;
      color: black;

      &:first-of-type {
        border-radius: 10px 10px 0 0;
        border-top: 2px solid $grid-gray;
      }
    }

    .anatomy-title {
      font-weight: 700;

      &:not(:last-child) {
        padding-bottom: 0;
      }
    }

    .anatomy-stem {
      &:not(:first-of-type) {
        padding-top: 0;
      }
    }
  }

  .interaction-area.practice,
  .anatomy-feedback-area {
    border-left: 2px solid $grid-gray;
    border-right: 2px solid $grid-gray;
    border-bottom: 2px solid $grid-gray;
    overflow: hidden;
  }

  .anatomy-feedback-area {
    border-radius: 0 0 10px 10px;
  }
}

//'theme' for input interactions, short text styles below contain some related styles, could be moved up in used in more interactions
.short-text-interaction {
  .interaction-area.practice {
    border-radius: 0 0 10px 10px;
  }

  .button-container {
    border-top: 0;
    padding-top: 0;

    &.isClosed {
      border-top: 0;
    }
  }
}

.mcq-mrq-interaction {
  .setup-area {
    border-bottom: 2px solid $grid-gray;
  }
}

/* || 2.2 Buttons */

#sampleAnswer,
#btnCheck-check,
#btnCheck-show,
#btnCheck-tryAgain {
  border-radius: 10px;
}

/* || 3.0 INTERACTION STYLES */

/* || 3.1 Hotspot */

.hotspot-interaction {
  .panel-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .panel {
    height: unset;
    min-height: unset;
    max-height: 100%;
    position: relative;
    background: $background-gray;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    color: black;

    @include respond-md {
      width: 65%;
    }
  }

  #alertText {
    p {
      padding-right: 47px;

      &:first-of-type {
        margin-top: 0;
        padding-top: 10px;
      }
    }
  }

  .head {
    margin-bottom: 0;
    border-bottom: 0;
    font-weight: 700;
    @include para-size($body-md);

    @include respond-lg {
      padding-left: 0;
    }
  }

  .close-dialog-btn {
    top: 0;
    right: 0;
    height: 32px;
    align-items: center;
    display: flex;
  }
}

/* || 3.2 Short Text */

.short-text-interaction {
  .ql-toolbar {
    background: white;
  }

  .ql-container {
    border: 2px solid $utility-blue;
  }

  .ql-editor {
    padding: 10px 15px;

    p {
      color: $utility-dark-blue;
    }
  }

  .char-counter {
    @include para-size($caption);
  }

  .button-container.isOpen,
  .sample-answer-container > section,
  .sample-answer-content {
    background: white;
    color: black;
  }

  .sample-answer-container hr {
    border-color: $grid-gray;
    border-bottom: 0;
    background-color: unset;
  }
}

/* || 3.3 Image Gallery */

.image-gallery-interaction {
  .anatomy-title {
    background: unset;
    padding-left: 0;
    padding-right: 0;
    font-family: "Egyptian Slate", serif;
    font-weight: 500;
    color: $utility-dark-blue;
    @include head-size($heading-sm);

    p {
      @include head-size($heading-sm);
    }
  }

  .image-gallery-container {
    background: $background-blue;
    height: unset;
    min-height: unset;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 56px;
    position: relative;
    border: 0;

    &:before {
      width: 100%;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      border: 5px solid $utility-blue;
      pointer-events: none;
      z-index: 9;
    }

    @include respond-md {
      height: unset;
      padding-top: 0;
      padding-bottom: 56px;
    }
    @include respond-lg {
      flex-direction: row;
      padding-bottom: 60px;
    }

    .image-container,
    .image-gallery-footer {
      height: unset;

      @include respond-lg {
        flex-basis: 50%;
      }
    }
  }

  .main-image {
    height: unset;
    width: 100%;
  }

  .image-item-count {
    display: none;
  }

  .image-container-caption {
    color: black;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 15px;
    @include respond-md {
      padding-bottom: 10px;
    }
    @include respond-lg {
      padding-top: 24px;
    }
  }

  .image-strip {
    width: unset;
    height: 100%;
    max-width: calc(100% - 60px);
  }

  .image-strip-container {
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    background: $utility-blue;
    padding: 0;

    @include respond-md {
      top: unset;
      bottom: 0;
    }
    @include respond-lg {
      height: 60px;
    }
  }

  .image-strip-item {
    width: 32px;
    height: 100%;
    margin: 0;
  }

  .image-strip-item-image {
    display: none;
  }

  .image-strip-item-button {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-max-width($bp-md) {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border-radius: 0;
    }

    &:before {
      width: 24px;
      height: 24px;
      background: white;
      content: "";
      border-radius: 50%;
      transform: scale(0.66666666);
      transition: transform 0.2s ease-in-out;
    }
  }

  .image-strip-item-button:hover,
  .image-strip-item-active {
    &:before {
      transform: scale(1);
    }
  }

  .image-strip-item-active:not(:focus) {
    box-shadow: none;
  }

  .image-strip-nav {
    width: 45px;
    height: 56px;

    img {
      display: none;
    }

    @include respond-md {
      display: block;
    }
    @include respond-lg {
      width: 60px;
      height: 60px;
    }
    background-size: 30px auto;
    background-position: center center;
    background-repeat: no-repeat;

    &.left {
      background-image: url("images/image-gallery_arrow-left.svg");
    }

    &.right {
      background-image: url("images/image-gallery_arrow-right.svg");
    }
  }

  .image-container-left,
  .image-container-right {
    display: none;
    bottom: 0;
    height: 56px;
    z-index: 1;
    background: transparent;
    border-radius: 0;

    // @include respond-md {
    //     display: block;
    // }
    //
    // @include respond-lg {
    //     display: none;
    // }
  }

  .image-container-left {
    left: 0;
  }

  .image-container-right {
    right: 0;
  }
}

/* || 3.4 MCQ */

.mcq-mrq-interaction {
  .multiple-choice input:checked + label:before {
    background-color: $utility-blue;
    border-color: $utility-blue;
  }

  .multiple-choice .correct input + label:before {
    background-color: $feedback-green;
    border-color: $feedback-green;
  }

  .multiple-choice .incorrect input + label:before {
    background-color: $feedback-red;
    border-color: $feedback-red;
  }
}

.mcq-mrq-interaction {
  .form-container {
    padding: 15px 18px;

    @include respond-md {
      padding: 20px 28px;
    }
  }
}

.multiple-choice {
  padding-bottom: calc(var(--quart-lheight) * 2);
  width: 100%;

  div {
    display: flex;

    label {
      margin-top: 0.2rem;
    }
  }

  input[type="checkbox"] {
    + label {
      &::before {
        top: calc(var(--quart-lheight) / 1.2);
      }
    }
  }
}

/* || 3.5 Short Text Table */

.short-text-interaction {
  table {
    color: black;
    caption,
    th {
      border-color: $grid-gray;
      border-left-color: white;
      background: $utility-blue;
      color: white;
      font-weight: 700;
      border-width: 2px 0 0 2px;

      &:first-of-type {
        border-left-color: $grid-gray;
      }

      &:last-of-type {
        border-right-width: 2px;
      }
    }

    caption {
      border: 2px solid $grid-gray;
      border-bottom: 0;
      text-align: center;
      border-radius: 10px 10px 0 0;
    }

    th {
      border-top-color: white;
    }

    &[data-has-header="false"] {
      th {
        border-top-color: $grid-gray;

        &:first-of-type {
          border-radius: 10px 0 0 0;
        }

        &:last-of-type {
          border-right-width: 2px;
          border-radius: 0 10px 0 0;
        }
      }

      tbody:first-of-type {
        tr:first-of-type {
          td {
            border-top: 2px solid $grid-gray;

            &:first-of-type {
              border-radius: 0;
              @include respond-md {
                border-radius: 10px 0 0 0;
              }
            }

            &:last-of-type {
              border-radius: 0 0 10px 10px;
              @include respond-md {
                border-radius: 0 10px 0 0;
              }
            }
          }
        }
      }
    }

    td {
      border-width: 2px 2px 0 2px;
      border-top-style: solid;
      border-color: $grid-gray;
      background: $background-gray;

      @include respond-md {
        border-width: 2px 0 0 2px;
      }
      &:last-of-type {
        border-width: 2px;
        border-radius: 0 0 10px 10px;

        @include respond-md {
          border-radius: 0;
          border-width: 2px 2px 0 2px;
        }
      }
    }

    tr {
      &:last-of-type {
        td {
          @include respond-md {
            border-width: 2px 0 2px 2px;
          }

          &:first-of-type {
            border-radius: 0;

            @include respond-md {
              border-radius: 0 0 0 10px;
            }
          }

          &:last-of-type {
            border-radius: 0 0 10px 10px;

            @include respond-md {
              border-radius: 0 0 10px 0;
              border-width: 2px 2px 2px 2px;
            }
          }
        }
      }

      &:before {
        background: $background-blue;
        font-weight: 700;
        border: 2px solid $grid-gray;
        border-bottom: 0;
        border-radius: 10px 10px 0 0;
      }
    }

    thead + tbody,
    &[data-has-header="true"] tbody {
      tr {
        &:first-of-type {
          td {
            border-top: 2px solid $grid-gray;

            @include respond-md {
              border-top: 0;
            }
          }
        }
      }
    }

    textarea {
      border-radius: 0;
      border: 2px solid $utility-blue;
      color: $utility-dark-blue;
    }
  }
}

[class*="no-row-border"] {
  table {
    td {
      @include respond-md {
        border-width: 0 0 0 2px;
      }

      &:last-of-type {
        @include respond-md {
          border-width: 0 2px 0 2px;
        }
      }
    }

    tr {
      &:last-of-type {
        td {
          @include respond-md {
            border-width: 0 0 2px 2px;
          }

          &:last-of-type {
            @include respond-md {
              border-width: 0 2px 2px 2px;
            }
          }
        }
      }
    }
  }
}

[class*="no-container"] {
  .form-container {
    padding: 0;
  }

  .interaction-area.practice {
    border: 0;
    border-radius: 10px;
  }

  table {
    tr {
      td {
        &:not(:first-of-type) {
          @include respond-md {
            border-left: 0;
          }
        }
      }
      &:last-of-type {
        td {
          @include respond-md {
            border-bottom: 0;

            &:first-of-type {
              border-radius: 0;
            }
            &:last-of-type {
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  tbody {
    padding: 24px 16px;
    display: block;
    border-left: 2px solid $grid-gray;
    border-right: 2px solid $grid-gray;

    @include respond-md {
      padding: 0;
      border: 0;
      display: table-row-group;
    }
  }

  [data-has-header="true"] {
    tr {
      &:first-of-type {
        &::before {
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }

  .feedback-answer {
    background: $background-gray;
    border: 2px solid $grid-gray;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }

  .button-container.isOpen,
  .sample-answer-container > section,
  .sample-answer-content {
    @include respond-md {
      background: $background-gray;
    }
  }
}

#wrapper[class*="no-title"] {
  .anatomy-title {
    display: none;
  }

  .anatomy-stem {
    padding-top: 10px;
    border-top: 2px solid $grid-gray;
    border-radius: 10px 10px 0 0;
  }
}

.video-interaction {
  .hmh-video-skin.vjs-big-play-centered .vjs-big-play-button {
    margin: 0;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 92px;
    height: 60px;

    @include respond-md {
      width: 132px;
      height: 84px;
    }

    &:before {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 14px;
      left: 6px;
      background-image: url("images/playbutton.svg");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0;

      @include respond-md {
        width: 48px;
        height: 48px;
        top: 18px;
        left: 10px;
      }
    }

    &:after {
      position: absolute;
      content: "";
      width: 48px;
      height: 48px;
      top: 6px;
      right: 6px;
      background-image: url("images/history-logo.svg");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;

      @include respond-md {
        width: 64px;
        height: 64px;
        top: 10px;
        right: 10px;
      }
    }
  }
}
